# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [18]:
# Your code here:

pd.DataFrame(pokemon['Legendary'].value_counts()).rename(index = {False:"No",
                                                                 True:"Yes"})

     Legendary
No         735
Yes         65

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [19]:
# Your code here:

# Legendary
total_legendary = pokemon[pokemon['Legendary'] == True]['Total']
total_normal = pokemon[pokemon['Legendary'] == False]['Total']

In [39]:
# results
mean_legendary = total_legendary.mean()
std_legendary = total_legendary.std()

mean_norm = total_normal.mean()
std_norm = total_normal.std()

In [40]:
print('Mean\n',
     'Legendary: {}\n'.format(mean_legendary),'Normal: {}\n'.format(mean_norm),
     '\nStandard Deviation\n',
     'Legendary: {}\n'.format(std_legendary), 'Normal: {}'.format(std_norm))

Mean
 Legendary: 637.3846153846154
 Normal: 417.21360544217686

Standard Deviation
 Legendary: 60.93738905315346
 Normal: 106.76041745713022

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [41]:
# Your code here:
from scipy.stats import ttest_ind

ttest_ind(total_legendary, total_normal, equal_var=True)

Ttest_indResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52)

What do you conclude from this test? Write your conclusions below.

### Your conclusions here:
<b>The extremely small p-value suggests that there is a significant difference between the two sample means</b>

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [49]:
# Your code here:
types = [type for type in pokemon['Type 1'].unique()]
pd.DataFrame(pokemon['Type 1'].value_counts()).rename(columns = {'Type 1':'Count'})

          Count
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [57]:
# Your code here:

mean_water = pokemon[pokemon['Type 1'] == 'Water']['Total'].mean()
std_water = pokemon[pokemon['Type 1'] == 'Water']['Total'].std()
mean_all = pokemon[pokemon['Type 1'] != 'Water']['Total'].mean()
std_all = pokemon[pokemon['Type 1'] != 'Water']['Total'].std()
print('Mean\n',
     'Legendary: {}\n'.format(mean_legendary),'Normal: {}\n'.format(mean_norm),'Water: {}\n'.format(mean_water),
      'All Non-Water Pokemon: {}\n'.format(mean_all),
     '\nStandard Deviation\n',
     'Legendary: {}\n'.format(std_legendary), 'Normal: {}\n'.format(std_norm), 'Water: {}\n'.format(std_water),
     'All Non-Water Pokemon: {}'.format(std_all))

Mean
 Legendary: 637.3846153846154
 Normal: 417.21360544217686
 Water: 430.45535714285717
 All Non-Water Pokemon: 435.85901162790697

Standard Deviation
 Legendary: 60.93738905315346
 Normal: 106.76041745713022
 Water: 113.18826606431458
 All Non-Water Pokemon: 121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [66]:
# Your code here:
non_water_type = pokemon[pokemon['Type 1'] != 'Water']['Total']
water_type = pokemon[pokemon['Type 1'] == 'Water']['Total']
results = [val for val in ttest_ind(non_water_type, water_type, equal_var=True)]

for out in ['{}: {}\n'.format(test, result) for test,
            result in zip(['t-statistic', 'p-value'], results)]:
    print(out)

t-statistic: 0.4418547448849676

p-value: 0.6587140317488793

Write your conclusion below.

### Your conclusions here:

<strong>The results obtained above suggest that there is an insignificant difference between the two sample means.</strong>

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [75]:
# Your code here:
from scipy.stats import ttest_rel
# attack versus defense
print(*['{} : {}'.format(test, result) for test,
        result in zip(['t-statistic', 'p-value'],
                      ttest_rel(pokemon['Attack'], pokemon['Defense']))], sep = '\n')

t-statistic : 4.325566393330478
p-value : 1.7140303479358558e-05

Describe the results of the test in the cell below.

### Your conclusions here:
<strong>The small p-value suggests that the null hypothesis can be rejected, the 
attack and defense values are not equal, with a difference that is significant in magnitude.</strong>

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [79]:
# Your code here:
print(*['{} : {}'.format(test, result) for test,
        result in zip(['t-statistic', 'p-value'],
                      ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def']))], sep = '\n')

t-statistic : 0.853986188453353
p-value : 0.3933685997548122

Describe the results of the test in the cell below.

### Your conclusions here:
<strong>The small p-value suggests that the null hypothesis can be rejected, the 
special attack and special defense values are not equal, with a difference that is significant in magnitude.</strong>

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [80]:
# Your code here:

from scipy.stats import ttest_1samp

ttest_1samp(pokemon['Defense'] - pokemon['Attack'], 0)

Ttest_1sampResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

In [85]:
# comparison between both methods
print('------------Results from Matched Pairs testing------------')
print(*['{} : {}'.format(test, result) for test,
        result in zip(['t-statistic', 'p-value'],
                      ttest_rel(pokemon['Attack'], pokemon['Defense']))], sep = '\n')

print('\n------------Results from one sample t-test------------')
print(*['{} : {}'.format(test, result) for test,
        result in zip(['t-statistic', 'p-value'],
                      ttest_1samp(pokemon['Defense'] - pokemon['Attack'], 0))], sep = '\n')
# negative t-statistic resulting from (subtraction operations) and testing in one direction

------------Results from Matched Pairs testing------------
t-statistic : 4.325566393330478
p-value : 1.7140303479358558e-05

------------Results from one sample t-test------------
t-statistic : -4.325566393330478
p-value : 1.7140303479358558e-05

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [96]:
# Your code here:

# contingency table
contingency = pd.crosstab(pokemon['Legendary'], pokemon['Type 1'].isin(['Water']))

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [103]:
# Your code here:
from scipy.stats import chi2_contingency

chi, pvalue, dof, expected = chi2_contingency(contingency)
print(pvalue)

0.08625467249550949

Based on a 95% confidence, should we reject the null hypothesis?

# Your answer here:

<p>No, since the p-value being larger than 0.05 suggests that there is a significant relationship between
    the type of Pokemon being water, and legendary. </p>
<p>Water type pokemon had the most memebers of all the types, which may also have an influence on the results.</p>