# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [2]:
# Import your libraries:
from sklearn import datasets
diabetesDataset = datasets.load_diabetes()
import pandas as pd
import numpy as np

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_diabetes.html)).

In [3]:
# Your code here:
diabetes = datasets.load_diabetes()

Let's explore this variable by looking at the different attributes (keys) of `diabetes`. Note that the `load_diabetes` function does not return dataframes. It returns you a Python dictionary.

In [4]:
# Your code here:
diabetes

{'data': array([[ 0.03807591,  0.05068012,  0.06169621, ..., -0.00259226,
          0.01990842, -0.01764613],
        [-0.00188202, -0.04464164, -0.05147406, ..., -0.03949338,
         -0.06832974, -0.09220405],
        [ 0.08529891,  0.05068012,  0.04445121, ..., -0.00259226,
          0.00286377, -0.02593034],
        ...,
        [ 0.04170844,  0.05068012, -0.01590626, ..., -0.01107952,
         -0.04687948,  0.01549073],
        [-0.04547248, -0.04464164,  0.03906215, ...,  0.02655962,
          0.04452837, -0.02593034],
        [-0.04547248, -0.04464164, -0.0730303 , ..., -0.03949338,
         -0.00421986,  0.00306441]]),
 'target': array([151.,  75., 141., 206., 135.,  97., 138.,  63., 110., 310., 101.,
         69., 179., 185., 118., 171., 166., 144.,  97., 168.,  68.,  49.,
         68., 245., 184., 202., 137.,  85., 131., 283., 129.,  59., 341.,
         87.,  65., 102., 265., 276., 252.,  90., 100.,  55.,  61.,  92.,
        259.,  53., 190., 142.,  75., 142., 155., 225.,  59., 104., 182.,
        128.,  52.,  37., 170., 170.,  61., 144.,  52., 128.,  71., 163.,
        150.,  97., 160., 178.,  48., 270., 202., 111.,  85.,  42., 170.,
        200., 252., 113., 143.,  51.,  52., 210.,  65., 141.,  55., 134.,
         42., 111.,  98., 164.,  48.,  96.,  90., 162., 150., 279.,  92.,
         83., 128., 102., 302., 198.,  95.,  53., 134., 144., 232.,  81.,
        104.,  59., 246., 297., 258., 229., 275., 281., 179., 200., 200.,
        173., 180.,  84., 121., 161.,  99., 109., 115., 268., 274., 158.,
        107.,  83., 103., 272.,  85., 280., 336., 281., 118., 317., 235.,
         60., 174., 259., 178., 128.,  96., 126., 288.,  88., 292.,  71.,
        197., 186.,  25.,  84.,  96., 195.,  53., 217., 172., 131., 214.,
         59.,  70., 220., 268., 152.,  47.,  74., 295., 101., 151., 127.,
        237., 225.,  81., 151., 107.,  64., 138., 185., 265., 101., 137.,
        143., 141.,  79., 292., 178.,  91., 116.,  86., 122.,  72., 129.,
        142.,  90., 158.,  39., 196., 222., 277.,  99., 196., 202., 155.,
         77., 191.,  70.,  73.,  49.,  65., 263., 248., 296., 214., 185.,
         78.,  93., 252., 150.,  77., 208.,  77., 108., 160.,  53., 220.,
        154., 259.,  90., 246., 124.,  67.,  72., 257., 262., 275., 177.,
         71.,  47., 187., 125.,  78.,  51., 258., 215., 303., 243.,  91.,
        150., 310., 153., 346.,  63.,  89.,  50.,  39., 103., 308., 116.,
        145.,  74.,  45., 115., 264.,  87., 202., 127., 182., 241.,  66.,
         94., 283.,  64., 102., 200., 265.,  94., 230., 181., 156., 233.,
         60., 219.,  80.,  68., 332., 248.,  84., 200.,  55.,  85.,  89.,
         31., 129.,  83., 275.,  65., 198., 236., 253., 124.,  44., 172.,
        114., 142., 109., 180., 144., 163., 147.,  97., 220., 190., 109.,
        191., 122., 230., 242., 248., 249., 192., 131., 237.,  78., 135.,
        244., 199., 270., 164.,  72.,  96., 306.,  91., 214.,  95., 216.,
        263., 178., 113., 200., 139., 139.,  88., 148.,  88., 243.,  71.,
         77., 109., 272.,  60.,  54., 221.,  90., 311., 281., 182., 321.,
         58., 262., 206., 233., 242., 123., 167.,  63., 197.,  71., 168.,
        140., 217., 121., 235., 245.,  40.,  52., 104., 132.,  88.,  69.,
        219.,  72., 201., 110.,  51., 277.,  63., 118.,  69., 273., 258.,
         43., 198., 242., 232., 175.,  93., 168., 275., 293., 281.,  72.,
        140., 189., 181., 209., 136., 261., 113., 131., 174., 257.,  55.,
         84.,  42., 146., 212., 233.,  91., 111., 152., 120.,  67., 310.,
         94., 183.,  66., 173.,  72.,  49.,  64.,  48., 178., 104., 132.,
        220.,  57.]),
 'DESCR': '.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n  :Number of Instances: 442\n\n  :Number of Attributes: First 10 columns are numeric predictive values\n\n  :Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n  :Attribute Information:\n      - Age\n      - Sex\n      - Body mass index\n      - Average blood pressure\n      - S1\n      - S2\n      - S3\n      - S4\n      - S5\n      - S6\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)',
 'feature_names': ['age',
  'sex',
  'bmi',
  'bp',
  's1',
  's2',
  's3',
  's4',
  's5',
  's6'],
 'data_filename': 'C:\\Users\\gissellec\\AppData\\Local\\Programs\\Python\\Python37\\lib\\site-packages\\sklearn\\datasets\\data\\diabetes_data.csv.gz',
 'target_filename': 'C:\\Users\\gissellec\\AppData\\Local\\Programs\\Python\\Python37\\lib\\site-packages\\sklearn\\datasets\\data\\diabetes_target.csv.gz'}

#### The next step is to read the description of the dataset. 

Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable. Read the data description carefully to fully understand what each column represents.

*Hint: If your output is ill-formatted by displaying linebreaks as `\n`, it means you are not using the `print` function.*

In [7]:
# Your code here:
print(diabetes.DESCR)

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - Age
      - Sex
      - Body mass index
      - Average blood pressure
      - S1
      - S2
      - S3
      - S4
      - S5
      - S6

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

#### Based on the data description, answer the following questions:

1. How many attributes are there in the data? What do they mean?

1. What is the relation between `diabetes['data']` and `diabetes['target']`?

1. How many records are there in the data?

In [ ]:
# Enter your answer here:
#1. There are 10 attributes. They represent age, sex, BMI, average blood pressure and different blood measurements. 
#2. Data is the predictive values while target is a quantitative measure of disease progression one year after baseline.
#Simply put, the data values generate the target values. 
#3. 442

#### Now explore what are contained in the *data* portion as well as the *target* portion of `diabetes`. 

Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). Inspect the shape of `data` and `target`. Confirm they are consistent with the data description.

In [11]:
# Your code here:
diabetes['data'].shape

(442, 10)

In [12]:
diabetes['target'].shape

(442,)

# Challenge 2 - Perform Supervised Learning on the Dataset

The data have already been split to predictor (*data*) and response (*target*) variables. Given this information, we'll apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset.

#### Let's briefly revisit the linear regression formula:

```
y = β0 + β1X1 + β2X2 + ... + βnXn + ϵ
```

...where:

- X1-Xn: data 
- β0: intercept 
- β1-βn: coefficients 
- ϵ: error (cannot explained by model)
- y: target

Also take a look at the `sklearn.linear_model.LinearRegression` [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html).

#### In the cell below, import the `linear_model` class from `sklearn`.

In [13]:
# Your code here:
from sklearn.linear_model import LinearRegression

#### Create a new instance of the linear regression model and assign the new instance to the variable `diabetes_model`.

In [34]:
# Your code here:
diabetes_model1 = LinearRegression().fit(diabetes['data'],diabetes['target'])
print(diabetes_model1.score(diabetes['data'],diabetes['target']))
print(diabetes_model1.coef_)
print(diabetes_model1.intercept_)

0.5177494254132934
[ -10.01219782 -239.81908937  519.83978679  324.39042769 -792.18416163
  476.74583782  101.04457032  177.06417623  751.27932109   67.62538639]
152.1334841628965

#### Next, let's split the training and test data.

Define `diabetes_data_train`, `diabetes_target_train`, `diabetes_data_test`, and `diabetes_target_test`. Use the last 20 records for the test data and the rest for the training data.

In [22]:
# Your code here:

from sklearn.model_selection import train_test_split

diabetes_data_train, diabetes_data_test = train_test_split(diabetes.data, test_size = 0.04524886877828054)
diabetes_data_train

array([[ 0.06350368,  0.05068012, -0.00405033, ..., -0.00259226,
         0.08449528, -0.01764613],
       [-0.00914709, -0.04464164, -0.06225218, ..., -0.03949338,
        -0.03581673, -0.04664087],
       [ 0.01264814, -0.04464164, -0.02560657, ..., -0.0763945 ,
        -0.07212845,  0.01134862],
       ...,
       [-0.03457486,  0.05068012,  0.00564998, ..., -0.03949338,
        -0.04542096,  0.03205916],
       [ 0.02717829, -0.04464164, -0.00728377, ..., -0.00259226,
         0.04344317,  0.01549073],
       [-0.00551455, -0.04464164,  0.0433734 , ..., -0.00259226,
         0.0423449 , -0.01764613]])

In [23]:
from sklearn.model_selection import train_test_split

diabetes_target_train, diabetes_target_test= train_test_split(diabetes.target, test_size = 0.04524886877828054)
diabetes_target_train

array([ 96., 142., 236.,  83., 179.,  39.,  66., 121., 115., 142., 142.,
       171., 317., 134., 197., 277.,  80., 196., 217.,  91.,  68.,  94.,
       242., 129., 277.,  64.,  43.,  78.,  73., 168.,  40.,  51., 166.,
       191.,  90., 109., 182.,  61., 222., 123., 221., 156., 281., 295.,
       182., 139., 150., 245.,  99., 252., 134.,  92., 131., 172.,  42.,
        85., 140., 200., 242., 131., 116., 280., 140.,  71., 111., 178.,
       181., 128., 129., 220., 190.,  53.,  65., 245., 163.,  25.,  93.,
        60., 310., 152., 145.,  72., 172., 272.,  65.,  88., 332.,  52.,
       154.,  83., 200.,  67., 104., 190., 151.,  66.,  83., 210., 153.,
       138., 114., 115., 132.,  71.,  45., 275., 265., 101., 283.,  95.,
       235., 143.,  84., 141., 178.,  75., 158., 233., 346.,  68., 292.,
       155.,  72., 144., 109., 214., 232.,  37., 200., 310., 279.,  59.,
       311., 103., 258., 252.,  48., 158., 196., 126., 113., 177., 102.,
        52.,  59., 336., 122., 118.,  42., 128., 100.,  69.,  72., 104.,
        97., 214., 237., 241.,  70., 136., 265., 138., 107.,  51.,  50.,
        96., 164., 121., 209.,  47., 103., 200.,  84., 200., 246., 135.,
       111.,  54., 192., 262., 124., 292., 178.,  31.,  74.,  78., 127.,
       187., 195.,  71., 237., 191., 170.,  53.,  39.,  60., 180.,  90.,
        63., 303., 212., 248., 198., 183.,  42.,  90., 144., 270.,  85.,
       283.,  63., 160., 135.,  89., 102., 111., 253., 235., 113., 259.,
        92.,  65., 125.,  59., 272., 152., 258.,  94., 137., 131., 243.,
        55., 230., 259., 233., 118.,  90., 182.,  53., 151.,  84., 113.,
       265.,  60., 109.,  90., 214., 143., 264.,  81.,  65.,  84., 341.,
        77., 274., 198.,  64., 174., 252.,  74., 259., 155.,  99., 216.,
       128.,  93., 189., 243., 262., 268.,  97.,  63.,  79., 137., 321.,
       147., 220., 185., 180., 175., 206.,  91., 118., 144., 201., 219.,
       281.,  52., 167.,  67., 108.,  71., 233., 202.,  86.,  75., 249.,
       110., 161., 273., 275., 178., 174., 148.,  68., 268.,  77.,  85.,
        88.,  98., 173., 168.,  95.,  72., 109.,  89., 178.,  72.,  88.,
        87.,  77., 131., 200., 288., 162., 150.,  61., 101., 185., 132.,
       281.,  48.,  91.,  72.,  52.,  48.,  64., 257., 107.,  77., 163.,
       150., 217., 275., 263.,  97., 102., 232.,  97., 296., 185.,  58.,
       198.,  71., 242., 116.,  63., 139., 168.,  49., 129., 146.,  55.,
       186., 258., 124., 141., 127.,  59., 248.,  49.,  96., 230.,  44.,
       181., 142.,  57.,  78.,  69., 219., 246., 202.,  94., 206., 202.,
       275., 122., 225., 220., 110.,  51., 263., 199., 101.,  81.,  85.,
        53., 160., 104.,  55.,  91., 179., 170., 144., 281., 306., 128.,
       308., 225.,  47., 151., 120.,  69., 170., 244.,  55.,  96., 173.,
       297.,  49., 293., 302.])

Fit the training data and target to `diabetes_model`. Print the *intercept* and *coefficients* of the model.

In [25]:
# Your code here:
diabetes_model = LinearRegression().fit(diabetes_data_train,diabetes_target_train)
diabetes_model.score(diabetes_data_train,diabetes_target_train)
print(diabetes_model.coef_)
print(diabetes_model.intercept_)

[  45.17470814  -56.17950478  -57.97228653  -26.38666608  227.88571894
  -60.25912465 -127.65378392 -262.75506271  -29.60555832   82.55616729]
150.18037041767042

#### Inspecting the results

From the outputs you should have seen:

- The intercept is a float number.
- The coefficients are an array containing 10 float numbers.

This is the linear regression model fitted to your training dataset.

#### Using your fitted linear regression model, predict the *y* of `diabetes_data_test`.

In [26]:
# Your code here:
diabetes_model = LinearRegression().fit(diabetes_data_test,diabetes_target_test)
diabetes_model.score(diabetes_data_test,diabetes_target_test)
print(diabetes_model.coef_)
print(diabetes_model.intercept_)

[ 1093.54037583 -1509.03321452 -1803.18701679   432.30979344
   276.70439796  -147.20559626  -585.44397104  -411.19982389
   927.11871778   456.09880584]
202.47559506072244

#### Print your `diabetes_target_test` and compare with the prediction.

In [35]:
# Your code here:
print(diabetes_target_train)
print(diabetes_target_test)
print(diabetes_model1.coef_)
print(diabetes_model1.intercept_)

[ 96. 142. 236.  83. 179.  39.  66. 121. 115. 142. 142. 171. 317. 134.
 197. 277.  80. 196. 217.  91.  68.  94. 242. 129. 277.  64.  43.  78.
  73. 168.  40.  51. 166. 191.  90. 109. 182.  61. 222. 123. 221. 156.
 281. 295. 182. 139. 150. 245.  99. 252. 134.  92. 131. 172.  42.  85.
 140. 200. 242. 131. 116. 280. 140.  71. 111. 178. 181. 128. 129. 220.
 190.  53.  65. 245. 163.  25.  93.  60. 310. 152. 145.  72. 172. 272.
  65.  88. 332.  52. 154.  83. 200.  67. 104. 190. 151.  66.  83. 210.
 153. 138. 114. 115. 132.  71.  45. 275. 265. 101. 283.  95. 235. 143.
  84. 141. 178.  75. 158. 233. 346.  68. 292. 155.  72. 144. 109. 214.
 232.  37. 200. 310. 279.  59. 311. 103. 258. 252.  48. 158. 196. 126.
 113. 177. 102.  52.  59. 336. 122. 118.  42. 128. 100.  69.  72. 104.
  97. 214. 237. 241.  70. 136. 265. 138. 107.  51.  50.  96. 164. 121.
 209.  47. 103. 200.  84. 200. 246. 135. 111.  54. 192. 262. 124. 292.
 178.  31.  74.  78. 127. 187. 195.  71. 237. 191. 170.  53.  39.  60.
 180.  90.  63. 303. 212. 248. 198. 183.  42.  90. 144. 270.  85. 283.
  63. 160. 135.  89. 102. 111. 253. 235. 113. 259.  92.  65. 125.  59.
 272. 152. 258.  94. 137. 131. 243.  55. 230. 259. 233. 118.  90. 182.
  53. 151.  84. 113. 265.  60. 109.  90. 214. 143. 264.  81.  65.  84.
 341.  77. 274. 198.  64. 174. 252.  74. 259. 155.  99. 216. 128.  93.
 189. 243. 262. 268.  97.  63.  79. 137. 321. 147. 220. 185. 180. 175.
 206.  91. 118. 144. 201. 219. 281.  52. 167.  67. 108.  71. 233. 202.
  86.  75. 249. 110. 161. 273. 275. 178. 174. 148.  68. 268.  77.  85.
  88.  98. 173. 168.  95.  72. 109.  89. 178.  72.  88.  87.  77. 131.
 200. 288. 162. 150.  61. 101. 185. 132. 281.  48.  91.  72.  52.  48.
  64. 257. 107.  77. 163. 150. 217. 275. 263.  97. 102. 232.  97. 296.
 185.  58. 198.  71. 242. 116.  63. 139. 168.  49. 129. 146.  55. 186.
 258. 124. 141. 127.  59. 248.  49.  96. 230.  44. 181. 142.  57.  78.
  69. 219. 246. 202.  94. 206. 202. 275. 122. 225. 220. 110.  51. 263.
 199. 101.  81.  85.  53. 160. 104.  55.  91. 179. 170. 144. 281. 306.
 128. 308. 225.  47. 151. 120.  69. 170. 244.  55.  96. 173. 297.  49.
 293. 302.]
[141.  87. 270. 184. 276.  88. 229. 220. 310. 208. 257. 202. 197. 248.
 164. 150. 215.  70. 261. 104.]
[ -10.01219782 -239.81908937  519.83978679  324.39042769 -792.18416163
  476.74583782  101.04457032  177.06417623  751.27932109   67.62538639]
152.1334841628965

#### Is `diabetes_target_test` exactly the same as the model prediction? Explain.

In [ ]:
# Your explanation here:
#No-they have different data ranges

# Bonus Challenge 1 - Hypothesis Testing with `statsmodels`

After generating the linear regression model from the dataset, you probably wonder: then what? What is the statistical way to know if my model is reliable or not?

Good question. We'll discuss that using Scikit-Learn in Challenge 5. But for now, let's use a fool-proof way by using the ([Linear Regression class of StatsModels](https://www.statsmodels.org/dev/regression.html)) which can also conduct linear regression analysis plus much more such as calcuating the F-score of the linear model as well as the standard errors and t-scores for each coefficient. The F-score and t-scores will tell you whether you can trust your linear model.

To understand the statistical meaning of conducting hypothesis testing (e.g. F-test, t-test) for slopes, read [this webpage](https://onlinecourses.science.psu.edu/stat501/node/297/) at your leisure time. We'll give you a brief overview next.

* The F-test of your linear model is to verify whether at least one of your coefficients is significantly different from zero. Translating that into the *null hypothesis* and *alternative hypothesis*, that is:

    ```
    H0 : β1 = β2 = ... = β10 = 0
    HA : At least one βj ≠ 0 (for j = 1, 2, ..., 10)
    ```

* The t-tests on each coefficient is to check whether the confidence interval for the variable contains zero. If the confidence interval contains zero, it means the null hypothesis for that variable is not rejected. In other words, this particular vaiable is not contributing to your linear model and you can remove it from your formula.

Read the documentations of [StatsModels Linear Regression](https://www.statsmodels.org/dev/regression.html) as well as its [`OLS` class](https://www.statsmodels.org/dev/generated/statsmodels.regression.linear_model.OLS.html) which stands for *ordinary least squares*.

#### In the next cell, analyze `diabetes_data_train` and `diabetes_target_train` with the linear regression model of `statsmodels`. Print the fit summary.

Your output should look like:

![statsmodels regression](../statsmodels.png)

In [43]:
# Your code here:
import statsmodels.api as sm
import statsmodels.formula.api as smf
results = sm.OLS(diabetes_target_train,diabetes_data_train).fit()
print(results.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   0.003
Model:                            OLS   Adj. R-squared (uncentered):             -0.021
Method:                 Least Squares   F-statistic:                             0.1311
Date:                Tue, 23 Jul 2019   Prob (F-statistic):                       0.999
Time:                        12:41:19   Log-Likelihood:                         -2762.1
No. Observations:                 422   AIC:                                      5544.
Df Residuals:                     412   BIC:                                      5585.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1            36.9670    191.416      0.193      0.847    -339.307     413.241
x2           -29.0127    197.503     -0.147      0.883    -417.251     359.226
x3           -96.9865    212.718     -0.456      0.649    -515.135     321.162
x4            38.3564    210.688      0.182      0.856    -375.800     452.513
x5           479.3811   1330.744      0.360      0.719   -2136.514    3095.276
x6          -229.0897   1079.194     -0.212      0.832   -2350.504    1892.324
x7          -262.9185    684.865     -0.384      0.701   -1609.185    1083.348
x8          -349.6811    520.895     -0.671      0.502   -1373.624     674.262
x9           -54.7331    551.554     -0.099      0.921   -1138.945    1029.478
x10           -7.0651    215.167     -0.033      0.974    -430.027     415.897
==============================================================================
Omnibus:                       43.466   Durbin-Watson:                   0.415
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               26.217
Skew:                           0.472   Prob(JB):                     2.03e-06
Kurtosis:                       2.225   Cond. No.                         21.7
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

#### Interpreting hypothesis testing results

Answer the following questions in the cell below:

1. What is the F-score of your linear model and is the null hypothesis rejected?

1. Does any of the t-tests of the coefficients produce a confidence interval containing zero? What are they?

1. How will you modify your linear reguression model according to the test results above?

In [ ]:
# Your answers here:
#1. F score is .131. According to the F-stat prob, the null is not rejected. This is different from the example data,
#since these records were randomly chosen while the example data kept their original order
#Yes, all of them

# Challenge 3 - Peform Supervised Learning on a Pandas Dataframe

Now that we have dealt with data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [44]:
# Your code here:
auto = pd.read_csv('auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [45]:
# Your code here:
auto.head(5)

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [46]:
# Your code here:
auto.dtypes

mpg             float64
cylinders         int64
displacement    float64
horse_power     float64
weight            int64
acceleration    float64
model_year        int64
car_name         object
dtype: object

What is the newest model year and the oldest model year?

In [47]:
# Your code here:
auto['model_year'].min()

70

In [48]:
auto['model_year'].max()

82

Check the dataset for missing values and remove all rows containing at least one missing value.

In [51]:
# Your code here:
auto.isnull().any()
auto = auto.dropna()
auto

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""
5,15.0,8,429.0,198.0,4341,10.0,70,"\t""ford galaxie 500"""
6,14.0,8,454.0,220.0,4354,9.0,70,"\t""chevrolet impala"""
7,14.0,8,440.0,215.0,4312,8.5,70,"\t""plymouth fury iii"""
8,14.0,8,455.0,225.0,4425,10.0,70,"\t""pontiac catalina"""
9,15.0,8,390.0,190.0,3850,8.5,70,"\t""amc ambassador dpl"""
10,15.0,8,383.0,170.0,3563,10.0,70,"\t""dodge challenger se"""
11,14.0,8,340.0,160.0,3609,8.0,70,"\t""plymouth 'cuda 340"""
12,15.0,8,400.0,150.0,3761,9.5,70,"\t""chevrolet monte carlo"""
13,14.0,8,455.0,225.0,3086,10.0,70,"\t""buick estate wagon (sw)"""
14,24.0,4,113.0,95.0,2372,15.0,70,"\t""toyota corona mark ii"""
15,22.0,6,198.0,95.0,2833,15.5,70,"\t""plymouth duster"""
16,18.0,6,199.0,97.0,2774,15.5,70,"\t""amc hornet"""
17,21.0,6,200.0,85.0,2587,16.0,70,"\t""ford maverick"""
18,27.0,4,97.0,88.0,2130,14.5,70,"\t""datsun pl510"""
19,26.0,4,97.0,46.0,1835,20.5,70,"\t""volkswagen 1131 deluxe sedan"""
20,25.0,4,110.0,87.0,2672,17.5,70,"\t""peugeot 504"""
21,24.0,4,107.0,90.0,2430,14.5,70,"\t""audi 100 ls"""
22,25.0,4,104.0,95.0,2375,17.5,70,"\t""saab 99e"""
23,26.0,4,121.0,113.0,2234,12.5,70,"\t""bmw 2002"""
24,21.0,6,199.0,90.0,2648,15.0,70,"\t""amc gremlin"""
25,10.0,8,360.0,215.0,4615,14.0,70,"\t""ford f250"""
26,10.0,8,307.0,200.0,4376,15.0,70,"\t""chevy c20"""
27,11.0,8,318.0,210.0,4382,13.5,70,"\t""dodge d200"""
28,9.0,8,304.0,193.0,4732,18.5,70,"\t""hi 1200d"""
29,27.0,4,97.0,88.0,2130,14.5,71,"\t""datsun pl510"""
...,...,...,...,...,...,...,...,...
367,28.0,4,112.0,88.0,2605,19.6,82,"\t""chevrolet cavalier"""
368,27.0,4,112.0,88.0,2640,18.6,82,"\t""chevrolet cavalier wagon"""
369,34.0,4,112.0,88.0,2395,18.0,82,"\t""chevrolet cavalier 2-door"""
370,31.0,4,112.0,85.0,2575,16.2,82,"\t""pontiac j2000 se hatchback"""
371,29.0,4,135.0,84.0,2525,16.0,82,"\t""dodge aries se"""
372,27.0,4,151.0,90.0,2735,18.0,82,"\t""pontiac phoenix"""
373,24.0,4,140.0,92.0,2865,16.4,82,"\t""ford fairmont futura"""
375,36.0,4,105.0,74.0,1980,15.3,82,"\t""volkswagen rabbit l"""
376,37.0,4,91.0,68.0,2025,18.2,82,"\t""mazda glc custom l"""
377,31.0,4,91.0,68.0,1970,17.6,82,"\t""mazda glc custom"""
378,38.0,4,105.0,63.0,2125,14.7,82,"\t""plymouth horizon miser"""
379,36.0,4,98.0,70.0,2125,17.3,82,"\t""mercury lynx l"""
380,36.0,4,120.0,88.0,2160,14.5,82,"\t""nissan stanza xe"""
381,36.0,4,107.0,75.0,2205,14.5,82,"\t""honda accord"""
382,34.0,4,108.0,70.0,2245,16.9,82,"\t""toyota corolla"""
383,38.0,4,91.0,67.0,1965,15.0,82,"\t""honda civic"""
384,32.0,4,91.0,67.0,1965,15.7,82,"\t""honda civic (auto)"""
385,38.0,4,91.0,67.0,1995,16.2,82,"\t""datsun 310 gx"""
386,25.0,6,181.0,110.0,2945,16.4,82,"\t""buick century limited"""
387,38.0,6,262.0,85.0,3015,17.0,82,"\t""oldsmobile cutlass ciera (diesel)"""
388,26.0,4,156.0,92.0,2585,14.5,82,"\t""chrysler lebaron medallion"""
389,22.0,6,232.0,112.0,2835,14.7,82,"\t""ford granada l"""
390,32.0,4,144.0,96.0,2665,13.9,82,"\t""toyota celica gt"""
391,36.0,4,135.0,84.0,2370,13.0,82,"\t""dodge charger 2.2"""
392,27.0,4,151.0,90.0,2950,17.3,82,"\t""chevrolet camaro"""
393,27.0,4,140.0,86.0,2790,15.6,82,"\t""ford mustang gl"""
394,44.0,4,97.0,52.0,2130,24.6,82,"\t""vw pickup"""
395,32.0,4,135.0,84.0,2295,11.6,82,"\t""dodge rampage"""
396,28.0,4,120.0,79.0,2625,18.6,82,"\t""ford ranger"""
397,31.0,4,119.0,82.0,2720,19.4,82,"\t""chevy s-10"""

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [52]:
# Your code here:
auto['cylinders'].value_counts()

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

*Hint: To separate data for training and test, use the `train_test_split` method we used in previous labs.*

In [53]:
# Your code here:
auto=auto.drop('car_name', axis=1)

In [80]:
x=auto[['cylinders','displacement','horse_power','weight','acceleration','model_year']]

In [81]:
y=auto[['mpg']]

In [82]:

from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(x,y, test_size = .2)
X_train

     cylinders  displacement  horse_power  weight  acceleration  model_year
361          6         168.0        116.0    2900          12.6          81
190          8         351.0        152.0    4215          12.8          76
302          4         105.0         70.0    2150          14.9          79
390          4         144.0         96.0    2665          13.9          82
130          4         122.0         80.0    2451          16.5          74
167          4          97.0         75.0    2171          16.0          75
31           4         113.0         95.0    2228          14.0          71
143          4          97.0         78.0    2300          14.5          74
86           8         304.0        150.0    3672          11.5          73
139          8         302.0        140.0    4638          16.0          74
11           8         340.0        160.0    3609           8.0          70
196          4          98.0         60.0    2164          22.1          76
141          4          98.0         83.0    2219          16.5          74
88           8         302.0        137.0    4042          14.5          73
117          4          68.0         49.0    1867          19.5          73
33           6         232.0        100.0    2634          13.0          71
253          6         200.0         95.0    3155          18.2          78
92           8         351.0        158.0    4363          13.0          73
23           4         121.0        113.0    2234          12.5          70
223          8         318.0        145.0    4140          13.7          77
212          8         350.0        180.0    4380          12.1          76
90           8         429.0        198.0    4952          11.5          73
152          6         225.0         95.0    3264          16.0          75
154          6         250.0         72.0    3432          21.0          75
208          8         318.0        150.0    3940          13.2          76
355          4         107.0         75.0    2210          14.4          81
45           6         258.0        110.0    2962          13.5          71
153          6         250.0        105.0    3459          16.0          75
134          6         258.0        110.0    3632          18.0          74
389          6         232.0        112.0    2835          14.7          82
..         ...           ...          ...     ...           ...         ...
234          4         151.0         88.0    2740          16.0          77
200          6         250.0         78.0    3574          21.0          76
42           8         383.0        180.0    4955          11.5          71
36           6         250.0         88.0    3302          15.5          71
111          3          70.0         90.0    2124          13.5          73
273          4         119.0         97.0    2405          14.9          78
329          4          91.0         67.0    1850          13.8          80
321          4         108.0         75.0    2265          15.2          80
44           8         400.0        175.0    5140          12.0          71
387          6         262.0         85.0    3015          17.0          82
379          4          98.0         70.0    2125          17.3          82
381          4         107.0         75.0    2205          14.5          82
364          8         350.0        105.0    3725          19.0          81
159          8         351.0        148.0    4657          13.5          75
19           4          97.0         46.0    1835          20.5          70
245          4          98.0         66.0    1800          14.4          78
67           8         429.0        208.0    4633          11.0          72
338          4         135.0         84.0    2490          15.7          81
180          4         121.0        115.0    2671          13.5          75
29           4          97.0         88.0    2130          14.5          71
359          4         141.0         80.0    3230          20.4          81
193          6         200.0         81.0    3012          17.6          76
378          4         105.0         63.0    2125          14.7          82
197          4          90.0         70.0    1937          14.2          76
383          4          91.0         67.0    1965          15.0          82
78           4         120.0         87.0    2979          19.5          72
94           8         440.0        215.0    4735          11.0          73
169          6         232.0        100.0    2914          16.0          75
72           8         304.0        150.0    3892          12.5          72
394          4          97.0         52.0    2130          24.6          82

[313 rows x 6 columns]

In [83]:
from sklearn.model_selection import train_test_split


Y_train

      mpg
361  25.4
190  14.5
302  34.5
390  32.0
130  26.0
167  29.0
31   25.0
143  26.0
86   14.0
139  14.0
11   14.0
196  24.5
141  29.0
88   14.0
117  29.0
33   19.0
253  20.5
92   13.0
23   26.0
223  15.5
212  16.5
90   12.0
152  19.0
154  15.0
208  13.0
355  33.7
45   18.0
153  18.0
134  16.0
389  22.0
..    ...
234  24.5
200  18.0
42   12.0
36   19.0
111  18.0
273  23.9
329  44.6
321  32.2
44   13.0
387  38.0
379  36.0
381  36.0
364  26.6
159  14.0
19   26.0
245  36.1
67   11.0
338  27.2
180  25.0
29   27.0
359  28.1
193  24.0
378  38.0
197  29.0
383  38.0
78   21.0
94   13.0
169  20.0
72   15.0
394  44.0

[313 rows x 1 columns]

Now we will processed and peform linear regression on this data to predict the mpg for each vehicle. 

#### In the next cell, create an instance of the linear regression model and call it `auto_model`. Fit `auto_model` with your training data.

In [84]:
# Your code here:
auto_model = LinearRegression().fit(X_train, Y_train)

In [85]:
auto_model.coef_

array([[-0.28197559,  0.01089189, -0.01305262, -0.00682874,  0.07977005,
         0.76361312]])

In [86]:
auto_model.intercept_

array([-14.71966944])

# Challenge 4 - Evaluate the Model

In addition to evaluating your model with F-test and t-test, you can also use the *Coefficient of Determination* (a.k.a. *r squared score*). This method does not simply tell *yes* or *no* about the model fit but instead indicates how much variation can be explained by the model. Based on the r squared score, you can decide whether to improve your model in order to obtain a better fit.

You can learn about the r squared score [here](). Its formula is:

![R Squared](../r-squared.png)

...where:

* yi is an actual data point.
* ŷi is the corresponding data point on the estimated regression line.

By adding the squares of the difference between all yi-ŷi pairs, we have a measure called SSE (*error sum of squares*) which is an application of the r squared score to indicate the extent to which the estimated regression model is different from the actual data. And we attribute that difference to the random error that is unavoidable in the real world. Obviously, we want the SSE value to be as small as possible.

#### In the next cell, compute the predicted *y* based on `X_train` and call it `y_pred`. Then calcualte the r squared score between `y_pred` and `y_train` which indicates how well the estimated regression model fits the training data.

*Hint: r squared score can be calculated using `sklearn.metrics.r2_score` ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html)).*

In [87]:
y_pred=auto_model.predict(X_train)

In [88]:
# Your code here:
from sklearn.metrics import r2_score
r2_score(Y_train, y_pred)

0.7907140827085963

#### Our next step is to evaluate the model using the test data. 

We would like to ensure that our model is not overfitting the data. This means that our model was made to fit too closely to the training data by being overly complex. If a model is overfitted, it is not generalizable to data outside the training data. In that case, we need to reduce the complexity of the model by removing certain features (variables).

In the cell below, use the model to generate the predicted values for the test data and assign them to `y_test_pred`. Compute the r squared score of the predicted `y_test_pred` and the oberserved `y_test` data.

In [89]:
# Your code here:
y_test_pred=auto_model.predict(X_test)

In [90]:
r2_score(Y_test, y_test_pred)

0.8736849593777294

#### Explaining the results

The r squared scores of the training data and the test data are pretty close (0.8146 vs 0.7818). This means our model is not overfitted. However, there is still room to improve the model fit. Move on to the next challenge.

# Challenge 5 - Improve the Model Fit

While the most common way to improve the fit of a model is by using [regularization](https://datanice.github.io/machine-learning-101-what-is-regularization-interactive.html), there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [91]:
# Your code here:
X_train09, X_test09, Y_train09, Y_test09 = train_test_split(x,y, test_size = .1)

Initialize a new linear regression model. Name this model `auto_model09`. Fit the model to the new sample (training) data.

In [92]:
# Your code here:
auto_model09 = LinearRegression().fit(X_train09, Y_train09)

Compute the predicted values and r squared score for our new model and new sample data.

In [94]:
# Your code here:
y_train09=auto_model09.predict(X_train09)
r2_score(Y_train09, y_train09)

0.8125148903596285

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [95]:
y_test_pred09=auto_model09.predict(X_test09)

In [96]:
# Your code here:
r2_score(Y_test09, y_test_pred09)

0.7770025085712344

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [ ]:
from sklearn.feature_selection import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [ ]:
# Your code here:

Fit the model and print the ranking

In [ ]:
# Your code here:

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [ ]:
# Your code here:

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [ ]:
# Your code here:

#### Conclusion

You may obtain the impression from this lab that without knowing statistical methods in depth, it is difficult to make major progress in machine learning. That is correct. If you are motivated to become a data scientist, statistics is the subject you must be proficient in and there is no shortcut. 

Completing these labs is not likely to make you a data scientist. But you will have a good sense about what are there in machine learning and what are good for you. In your future career, you can choose one of the three tracks:

* Data scientists who need to be proficient in statistical methods.

* Data engineers who need to be good at programming.

* Data integration specialists who are business or content experts but also understand data and programming. This cross-disciplinary track brings together data, technology, and business and will be in high demands in the next decade.