In [1]:
TUPLES

In [ ]:
chocolates = ('dark', 'milk', 'semi sweet')

In [2]:
chocolates

('dark', 'milk', 'semi sweet')

In [3]:
chocolates[-1]

'semi sweet'

In [11]:
tupl = ('one')

In [12]:
list(chocolates)

['dark', 'milk', 'semi sweet']

In [13]:
tuple(chocolates)

('dark', 'milk', 'semi sweet')

In [ ]:
DICTIONARIES

In [14]:
contacts = {'John': '312-555-1234', 'Paul': '312-555-3123', 'George': '312-555-3333', 'Ringo': '312-555-2222'}

In [15]:
contacts

{'John': '312-555-1234',
 'Paul': '312-555-3123',
 'George': '312-555-3333',
 'Ringo': '312-555-2222'}

In [19]:
contacts.keys()

dict_keys(['John', 'Paul', 'George', 'Ringo'])

In [20]:
contacts.values()

dict_values(['312-555-1234', '312-555-3123', '312-555-3333', '312-555-2222'])

In [23]:
contacts['John']

'312-555-1234'

In [40]:
list(contacts.items())[0]

('John', '312-555-1234')

In [30]:
for k in contacts.items():
    print(k)

('John', '312-555-1234')
('Paul', '312-555-3123')
('George', '312-555-3333')
('Ringo', '312-555-2222')

In [31]:
for k, v in contacts.items(): 
    print(k, v)

John 312-555-1234
Paul 312-555-3123
George 312-555-3333
Ringo 312-555-2222

In [42]:
contacts

{'John': '312-555-1234',
 'Paul': '312-555-3123',
 'George': '312-555-3333',
 'Ringo': '312-555-2222'}

SETS

In [54]:
letters = set([1,2,3])

In [55]:
letters

{1, 2, 3}

In [57]:
girl_names = set(['Mary', 'Madison', 'Logan', 'Joanna'])
boy_names = set(['John', 'Alexander', 'Logan', 'Madison'])

In [58]:
unisex_names = girl_names.intersection(boy_names)
unisex_names

{'Logan', 'Madison'}

In [59]:
all_names = boy_names.union(girl_names)
all_names

{'Alexander', 'Joanna', 'John', 'Logan', 'Madison', 'Mary'}

In [60]:
boy_only_names = boy_names - girl_names
boy_only_names

{'Alexander', 'John'}