# Challenge 1 - Multiple Regression Analysis

# Before your start:

    Read the README.md file
    Comment as much as you can and use the resources (README.md file)
    Happy learning!

In this lab exercise we will work with vehicles.csv data set. 
You can find a copy of the dataset in the git hub folder. 
The objective of this exercise is to predict CO2 emissions for vehicles. 
Please follow the steps and provide your code along with comments.

In [4]:
## Import the libraries for loading the data set 
## Load the dataset
import pandas as pd
import numpy as np
vehicles = pd.read_csv('vehicles.csv')
vehicles.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [3]:
## You can use the warnings library to ignore warnings that might show when you run the code
import warnings
warnings.filterwarnings('ignore')

In this exercise, we are not going to use all the variables in the dataset to make the predictions. Here is the
list of the numerical and categorical variables that we will use:
    
    Numerical : Engine Displacement, Fuel Barrels/Year, Combined MPG
    Categorical : Cylinders, Fuel Type, Drivetrain

Numerical and Categorical together make up the predictor variables 
Target variable is "CO2 emissions for vehicles"

### Data Pre-processing (Handling Numerical variables)

First we will perform the data pre-processing operations on the specified numerical varibles

In [21]:
## Store the specified numerical columns data as a separate dataframe. Give it the name "numerics"
numerics = vehicles[['Engine Displacement', 'Fuel Barrels/Year', 'Combined MPG']]
numerics.head()

   Engine Displacement  Fuel Barrels/Year  Combined MPG
0                  2.5          19.388824            17
1                  4.2          25.354615            13
2                  2.5          20.600625            16
3                  4.2          25.354615            13
4                  3.8          20.600625            16

### MinMax scaler

Hint: Since we are using "numerics" to store the nummerical variables we can pass "numerics" directly
as MinMaxScaler().fit(numerics)

In [24]:
## Import the required library
## Perform the scaling and store the results inside "numerical"
from sklearn.preprocessing import MinMaxScaler
numerical = MinMaxScaler().fit(numerics)

In [25]:
## Convert "numerical" into a dataframe so that it can be used later with the dataframe of categorical variables
numerical = pd.DataFrame(numerical.transform(numerics), 
             columns = ['Engine Displacement', 'Fuel Barrels/Year', 'Combined MPG'])

In [26]:
numerical.head()

   Engine Displacement  Fuel Barrels/Year  Combined MPG
0             0.243590           0.411014      0.204082
1             0.461538           0.537873      0.122449
2             0.243590           0.436782      0.183673
3             0.461538           0.537873      0.122449
4             0.410256           0.436782      0.183673

### Data Pre-processing (Handling Categorical variables)

In this step we will perform the data pre-processing operations on the specified categorical varibles

In [46]:
## Similar to numerical variables, store the specified categorical columns data as a dataframe. 
## Give it the name "cats"
columns = [column for column in vehicles.select_dtypes(object).columns]
columns.append("Cylinders")
columns

['Make',
 'Model',
 'Transmission',
 'Drivetrain',
 'Vehicle Class',
 'Fuel Type',
 'Cylinders']

In [48]:
## Check if "cats" is actually a dataframe using cats.head(3)
cats = vehicles[columns]
cats.head(3)

,Make,Model,Transmission,Drivetrain,Vehicle Class,Fuel Type,Cylinders
0,AM General,DJ Po Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,4.0
1,AM General,FJ8c Post Office,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,6.0
2,AM General,Post Office DJ5 2WD,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,4.0

### Using One Hot Encoding

In [57]:
# Perform One hot encoding and store the results (one hot encoded dataframe) into "categorical"
#dummy =  pd.Categorical(cats).codes
categorical = pd.get_dummies(cats)

In [59]:
## Check how the new OHE data looks like using the head() function
categorical.head()

array([3, 4, 5, 1, 6, 2, 0], dtype=int8)

Now we have pre-processed our specified numerical and categorical data. 
In this next step we will combine the two dataframes (numerical and categorical)

You can the following code to combine / concatenate the two dataframes

In [60]:
X = pd.concat([numerical,categorical],axis=1)

Now that we have processed our predictor varibles, we can work towards fitting the multiple regression model 
on the data

In [68]:
## Store the target variable "CO2 emissions for vehicles" as a dataframe 'Y'
Y = pd.DataFrame(vehicles['CO2 Emission Grams/Mile'])

In [69]:
## Import the libraries required for regression model 
## Fit the linear regression model on the data
import statsmodels.api as sm
from statsmodels.formula.api import ols
from sklearn import linear_model

lm = linear_model.LinearRegression()
model = lm.fit(X, Y)
lm.intercept_
lm.coef_
predictions = lm.predict(X)

In [70]:
## Make predictions on the dataset, store the results in "predictions"

In [71]:
## Print the measures of accuracy of the model - MSE, RMSE, and R2 score
from sklearn.metrics import mean_squared_error, r2_score
print(mean_squared_error(Y, predictions))
r2_score(Y, predictions)

6.858569414078703

0.9995161528124977

Hint: Use from sklearn.metrics import mean_squared_error, r2_score