# Challenge 2 - Logistic Regression

# Before your start:

    Read the README.md file
    Comment as much as you can and use the resources (README.md file)
    Happy learning!

This exercise is very similar to Challenge 1, except that here we are working on a 
Classification Problem using Logistic Regression.

In this lab exercise we will work with Customer-churn.csv data set. 
You can find a copy of the dataset in the git hub folder. 
The objective of this exercise is to predict whether the customer will churn or not. 
Please follow the steps and provide your code along with comments.

In [1]:
## Import the libraries for loading the data set 
## Load the dataset 
import pandas as pd 
import numpy as np 
import os 

df = pd.read_csv(os.getcwd()+'/Customer-churn.csv')
df.head(2)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No

In [2]:
## You can use the warnings library to ignore warnings that might show when you run the code
import warnings
warnings.filterwarnings('ignore')
print(df.shape)
df.dtypes

(7043, 21)

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In this exercise, we are not going to use all the variables in the dataset to make the predictions. Here is the
list of the numerical and categorical variables that we will use:
    
    Numerical : Monthly Charges, Total Charges, tenure
    Categorical : Gender, Senior Citizen, Partner, Dependent, Contract

Numerical and Categorical together make up the predictor variables 
Target variable is "Churn"

### Data Pre-processing (Handling Numerical variables)

First we will perform the data pre-processing operations on the specified numerical varibles

In [3]:
## Store the specified numerical columns data as a separate dataframe. Give it the name "numerics"

numerics = df[['MonthlyCharges','tenure']]

p = list(df['TotalCharges'])  #create listout of column

for i in range(len(p)):       #conver empty strings to nan
    if len(p[i])==1:
        p[i] = float('nan')
        
        
numerics['TotalCharges'] = list(map(float,p))  #map float
numerics.dtypes

MonthlyCharges    float64
tenure              int64
TotalCharges      float64
dtype: object

### MinMax Scaler

Hint: Since we are using "numerics" to store the nummerical variables we can pass "numerics" directly
as MinMaxScaler().fit(numerics)

In [4]:
## Import the required library
## Perform the scaling and store the results inside "numerical"
from sklearn.preprocessing import MinMaxScaler

transformer = MinMaxScaler().fit(numerics)
numerics[['MonthlyCharges','tenure','TotalCharges']] = transformer.transform(numerics)

In [5]:
## Convert "numerical" into a dataframe so that it can be used later with the dataframe of categorical variables
numerical = numerics

numerical.head(1)

   MonthlyCharges    tenure  TotalCharges
0        0.115423  0.013889      0.001275

### Data Pre-processing (Handling Categorical variables)

In this step we will perform the data pre-processing operations on the specified categorical varibles

In [6]:
## Similar to numerical variables, store the specified categorical columns data as a dataframe. 
## Give it the name "cats"

cats = df[['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'Contract']]

In [7]:
## Check if "cats" is actually a dataframe using 
cats.head(3)

   gender  SeniorCitizen Partner Dependents        Contract
0  Female              0     Yes         No  Month-to-month
1    Male              0      No         No        One year
2    Male              0      No         No  Month-to-month

### Using One Hot Encoding

In [8]:
# Perform One hot encoding and store the results (one hot encoded dataframe) into "categorical"

categorical = pd.get_dummies(cats)

In [9]:
## Check how the new OHE data looks like using the head() function
categorical.head(1)

,SeniorCitizen,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year
0,0,1,0,0,1,1,0,1,0,0

Now we have pre-processed our specified numerical and categorical data. 
In this next step we will combine the two dataframes (numerical and categorical)

You can the following code to combine / concatenate the two dataframes

In [11]:
df.head(1)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No

In [15]:
X = pd.concat([numerical,categorical],axis=1)
y = df['Churn']

z = np.where(y=='Yes',1,0)

Y = pd.DataFrame(z)

In [16]:
for i in Y: 
    if i>1: 
        print('y')

In [17]:
True in Y.isnull()

False

In [18]:
X.columns

Index(['MonthlyCharges', 'tenure', 'TotalCharges', 'SeniorCitizen',
       'gender_Female', 'gender_Male', 'Partner_No', 'Partner_Yes',
       'Dependents_No', 'Dependents_Yes', 'Contract_Month-to-month',
       'Contract_One year', 'Contract_Two year'],
      dtype='object')

In [19]:
columns = ['MonthlyCharges', 'tenure', 'TotalCharges', 'SeniorCitizen',
       'gender_Female', 'gender_Male', 'Partner_No', 'Partner_Yes',
       'Dependents_No', 'Dependents_Yes', 'Contract_Month-to-month',
       'Contract_One year', 'Contract_Two year']

In [26]:
XX = pd.DataFrame()
for i in columns: 
    XX[i] = list(map(float,X[i]))

In [28]:
XX.dtypes

MonthlyCharges             float64
tenure                     float64
TotalCharges               float64
SeniorCitizen              float64
gender_Female              float64
gender_Male                float64
Partner_No                 float64
Partner_Yes                float64
Dependents_No              float64
Dependents_Yes             float64
Contract_Month-to-month    float64
Contract_One year          float64
Contract_Two year          float64
dtype: object

Now that we have processed our predictor varibles, we can work towards fitting the multiple regression model 
on the data 

Y = data['Churn']

In [ ]:
X.dtypes

In [ ]:
## Import the libraries required for regression model 
## Fit the linear regression model on the data

In [ ]:
## Make predictions on the dataset, store the results in "predictions"

In [ ]:
## Print the measures of accuracy of the model - MSE, RMSE, and R2 score

Hint: Use from sklearn.metrics import mean_squared_error, r2_score

In [36]:
from sklearn import linear_model
lm = linear_model.LinearRegression()
model = lm.fit(XX,Y)
lm.intercept_
lm.coef_
predictions  = lm.predict(XX)

from sklearn.metrics import mean_squared_error, r2_score
print(mean_squared_error(Y, predictions))
r2_score(Y, predictions)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').