# Challenge 1 - Multiple Regression Analysis

# Before your start:

    Read the README.md file
    Comment as much as you can and use the resources (README.md file)
    Happy learning!

In this lab exercise we will work with vehicles.csv data set. 
You can find a copy of the dataset in the git hub folder. 
The objective of this exercise is to predict CO2 emissions for vehicles. 
Please follow the steps and provide your code along with comments.

In [36]:
## Import the libraries for loading the data set 
## Load the dataset 
import pandas as pd 
import numpy as np
import os 

vdf = pd.read_csv(os.getcwd()+'/vehicles.csv')
vdf.head(1)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950

In [4]:
## You can use the warnings library to ignore warnings that might show when you run the code
import warnings
warnings.filterwarnings('ignore')

In this exercise, we are not going to use all the variables in the dataset to make the predictions. Here is the
list of the numerical and categorical variables that we will use:
    
    Numerical : Engine Displacement, Fuel Barrels/Year, Combined MPG
    Categorical : Cylinders, Fuel Type, Drivetrain

Numerical and Categorical together make up the predictor variables 
Target variable is "CO2 emissions for vehicles"

### Data Pre-processing (Handling Numerical variables)

First we will perform the data pre-processing operations on the specified numerical varibles

In [7]:
## Store the specified numerical columns data as a separate dataframe. Give it the name "numerics"

In [13]:
numerics = vdf[['Engine Displacement', 'Fuel Barrels/Year', 'Combined MPG']]
categorical = vdf[['Cylinders', 'Fuel Type', 'Drivetrain']]

In [15]:
numerics.head(2)

   Engine Displacement  Fuel Barrels/Year  Combined MPG
0                  2.5          19.388824            17
1                  4.2          25.354615            13

### MinMax scaler

Hint: Since we are using "numerics" to store the nummerical variables we can pass "numerics" directly
as MinMaxScaler().fit(numerics)

In [16]:
## Import the required library
## Perform the scaling and store the results inside "numerical"

from sklearn.preprocessing import MinMaxScaler
transformer = MinMaxScaler().fit(numerics[['Engine Displacement', 'Fuel Barrels/Year', 'Combined MPG']])
numerics[['Engine Displacement', 'Fuel Barrels/Year', 'Combined MPG']] = transformer.transform(numerics[['Engine Displacement', 'Fuel Barrels/Year', 'Combined MPG']])

In [17]:
## Convert "numerical" into a dataframe so that it can be used later with the dataframe of categorical variables
numerics.head(2)

   Engine Displacement  Fuel Barrels/Year  Combined MPG
0             0.243590           0.411014      0.204082
1             0.461538           0.537873      0.122449

### Data Pre-processing (Handling Categorical variables)

In this step we will perform the data pre-processing operations on the specified categorical varibles

In [20]:
## Similar to numerical variables, store the specified categorical columns data as a dataframe. 
## Give it the name "cats"
cats = categorical

In [21]:
## Check if "cats" is actually a dataframe using cats.head(3)
cats.head(3)

   Cylinders Fuel Type        Drivetrain
0        4.0   Regular     2-Wheel Drive
1        6.0   Regular     2-Wheel Drive
2        4.0   Regular  Rear-Wheel Drive

### Using One Hot Encoding

In [24]:
# Perform One hot encoding and store the results (one hot encoded dataframe) into "categorical"
categorical = pd.get_dummies(cats)

In [25]:
## Check how the new OHE data looks like using the head() function
categorical.head(1)

,Cylinders,Fuel Type_CNG,Fuel Type_Diesel,Fuel Type_Gasoline or E85,Fuel Type_Gasoline or natural gas,Fuel Type_Gasoline or propane,Fuel Type_Midgrade,Fuel Type_Premium,Fuel Type_Premium Gas or Electricity,Fuel Type_Premium and Electricity,...,Fuel Type_Regular Gas and Electricity,Fuel Type_Regular Gas or Electricity,Drivetrain_2-Wheel Drive,"Drivetrain_2-Wheel Drive, Front",Drivetrain_4-Wheel Drive,Drivetrain_4-Wheel or All-Wheel Drive,Drivetrain_All-Wheel Drive,Drivetrain_Front-Wheel Drive,Drivetrain_Part-time 4-Wheel Drive,Drivetrain_Rear-Wheel Drive
0,4.0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

Now we have pre-processed our specified numerical and categorical data. 
In this next step we will combine the two dataframes (numerical and categorical)

You can the following code to combine / concatenate the two dataframes

In [27]:
X = pd.concat([numerics,categorical],axis=1)

Now that we have processed our predictor varibles, we can work towards fitting the multiple regression model 
on the data

In [37]:
## Store the target variable "CO2 emissions for vehicles" as a dataframe 'Y'
Y = pd.DataFrame(vdf['CO2 Emission Grams/Mile'])

In [40]:
## Import the libraries required for regression model 
## Fit the linear regression model on the data
from sklearn import linear_model

lm = linear_model.LinearRegression()
model = lm.fit(X,Y)
lm.intercept_
lm.coef_
predictions  = lm.predict(X)

In [42]:
predictions

array([[522.81307109],
       [682.23486316],
       [554.61640855],
       ...,
       [242.50755618],
       [242.44851595],
       [249.86637931]])

In [50]:
from sklearn.metrics import mean_squared_error, r2_score
import math

print('MSE:  ' +str(mean_squared_error(Y, predictions)))
print('RMSE: ' +str(math.sqrt(mean_squared_error(Y, predictions))))
print('R2:   ' +str(r2_score(Y, predictions)))

MSE:  54.977804497320896
RMSE: 7.4147019156079965
R2:   0.996121515366386

In [30]:
## Make predictions on the dataset, store the results in "predictions"

In [32]:
## Print the measures of accuracy of the model - MSE, RMSE, and R2 score

Hint: Use from sklearn.metrics import mean_squared_error, r2_score