# Challenge 1 - Multiple Regression Analysis

# Before your start:

    Read the README.md file
    Comment as much as you can and use the resources (README.md file)
    Happy learning!

In this lab exercise we will work with vehicles.csv data set. 
You can find a copy of the dataset in the git hub folder. 
The objective of this exercise is to predict CO2 emissions for vehicles. 
Please follow the steps and provide your code along with comments.

In [15]:
import numpy as np
import pandas as pd

vehicles = pd.read_csv('vehicles.csv')

In [16]:
import warnings
warnings.filterwarnings('ignore')

In this exercise, we are not going to use all the variables in the dataset to make the predictions. Here is the
list of the numerical and categorical variables that we will use:
    
    Numerical : Engine Displacement, Fuel Barrels/Year, Combined MPG
    Categorical : Cylinders, Fuel Type, Drivetrain

Numerical and Categorical together make up the predictor variables 
Target variable is "CO2 emissions for vehicles"

### Data Pre-processing (Handling Numerical variables)

First we will perform the data pre-processing operations on the specified numerical varibles

In [17]:
numerics = vehicles[['Engine Displacement', 'Fuel Barrels/Year', 'Combined MPG']]
numerics.head()

   Engine Displacement  Fuel Barrels/Year  Combined MPG
0                  2.5          19.388824            17
1                  4.2          25.354615            13
2                  2.5          20.600625            16
3                  4.2          25.354615            13
4                  3.8          20.600625            16

### MinMax scaler

Hint: Since we are using "numerics" to store the nummerical variables we can pass "numerics" directly
as MinMaxScaler().fit(numerics)

In [48]:
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler

#numericals = MinMaxScaler().fit_transform(numerics) one way to do it, or below is the other

In [47]:
numericals = MinMaxScaler().fit(numerics[['Engine Displacement', 'Fuel Barrels/Year', 'Combined MPG']])
numericals.transform(numerics[['Engine Displacement', 'Fuel Barrels/Year', 'Combined MPG']])

array([[0.24358974, 0.4110142 , 0.20408163],
       [0.46153846, 0.53787268, 0.12244898],
       [0.24358974, 0.43678233, 0.18367347],
       ...,
       [0.05128205, 0.19341667, 0.59183673],
       [0.03846154, 0.19341667, 0.59183673],
       [0.03846154, 0.19897931, 0.57142857]])

In [49]:
numerical = pd.DataFrame(numericals)
numerical.head()

          0         1         2
0  0.243590  0.411014  0.204082
1  0.461538  0.537873  0.122449
2  0.243590  0.436782  0.183673
3  0.461538  0.537873  0.122449
4  0.410256  0.436782  0.183673

### Data Pre-processing (Handling Categorical variables)

In this step we will perform the data pre-processing operations on the specified categorical varibles

In [57]:
cats = vehicles[['Cylinders', 'Fuel Type', 'Drivetrain']]
cats.head()

   Cylinders Fuel Type        Drivetrain
0        4.0   Regular     2-Wheel Drive
1        6.0   Regular     2-Wheel Drive
2        4.0   Regular  Rear-Wheel Drive
3        6.0   Regular  Rear-Wheel Drive
4        6.0   Premium  Rear-Wheel Drive

### Using One Hot Encoding

In [58]:
# Perform One hot encoding and store the results (one hot encoded dataframe) into "categorical"

In [59]:
cats.Cylinders = cats.Cylinders.astype('category') #cylinders is float type at the moment before the converting

In [60]:
cats.columns

Index(['Cylinders', 'Fuel Type', 'Drivetrain'], dtype='object')

In [62]:
categorical = pd.get_dummies(cats, columns=['Cylinders', 'Fuel Type', 'Drivetrain'])
categorical.head()

,Cylinders_2.0,Cylinders_3.0,Cylinders_4.0,Cylinders_5.0,Cylinders_6.0,Cylinders_8.0,Cylinders_10.0,Cylinders_12.0,Cylinders_16.0,Fuel Type_CNG,...,Fuel Type_Regular Gas and Electricity,Fuel Type_Regular Gas or Electricity,Drivetrain_2-Wheel Drive,"Drivetrain_2-Wheel Drive, Front",Drivetrain_4-Wheel Drive,Drivetrain_4-Wheel or All-Wheel Drive,Drivetrain_All-Wheel Drive,Drivetrain_Front-Wheel Drive,Drivetrain_Part-time 4-Wheel Drive,Drivetrain_Rear-Wheel Drive
0,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

Now we have pre-processed our specified numerical and categorical data. 
In this next step we will combine the two dataframes (numerical and categorical)

You can the following code to combine / concatenate the two dataframes

In [63]:
X = pd.concat([numerical,categorical],axis=1)

Now that we have processed our predictor varibles, we can work towards fitting the multiple regression model 
on the data

In [68]:
Y = pd.DataFrame(vehicles['CO2 Emission Grams/Mile'])

In [45]:
## Store the target variable "CO2 emissions for vehicles" as a dataframe 'Y'

In [46]:
## Import the libraries required for regression model 
## Fit the linear regression model on the data

In [69]:
from sklearn import linear_model
lm = linear_model.LinearRegression()
model = lm.fit(X,Y)

In [ ]:
## Make predictions on the dataset, store the results in "predictions"

In [70]:
predictions  = lm.predict(X)

In [ ]:
## Print the measures of accuracy of the model - MSE, RMSE, and R2 score

In [77]:
from sklearn.metrics import mean_squared_error, r2_score
import math
print("MSE:", mean_squared_error(Y, predictions))
print("RMSE", math.sqrt(mean_squared_error(Y, predictions)))
print("R2:", r2_score(Y, predictions))

MSE: 54.694660355249034
RMSE 7.395583841404885
R2: 0.9961414901582891

Hint: Use from sklearn.metrics import mean_squared_error, r2_score