In [6]:
def half(x):
    return(x/2)

In [9]:
l = [10, 12, 34, 23]
x = map(half, l)

In [10]:
list(x)

[5.0, 6.0, 17.0, 11.5]

In [11]:
x = [1,2,3]
y = [4, 5, 6]
def add(a,b):
    return(a+b)
print(list(map(add, x,y)))

[5, 7, 9]

In [14]:
lst1 = [2,3,4,5]
lst2 = [8,1,4,5]
list(map(lambda x, y: x + y, lst1, lst2))

[10, 4, 8, 10]

In [12]:
l = [10, 12, 34, 23]
x = map(lambda x: x/2, l)

In [13]:
list(x)

[5.0, 6.0, 17.0, 11.5]

In [15]:
# map if you want to apply the function to the whole list rather than using For Loop

FILTER

In [16]:
l

[10, 12, 34, 23]

In [19]:
list(filter(lambda x: x % 2 ==1, l ))

[23]

In [21]:
from functools import reduce

reduce(lambda a, b: a + b, l)

79

In [22]:
reduce(lambda a, b: a if a > b else b, l)

34

In [23]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(4, 3), columns=['a', 'b', 'c'])
df

          a         b         c
0  0.302292  1.686687  0.286389
1 -0.492303  0.164053  1.132594
2 -0.559766  1.284787 -0.866243
3 -0.852545  1.361275  0.052968

In [24]:
df.apply(half)

          a         b         c
0  0.151146  0.843343  0.143194
1 -0.246152  0.082027  0.566297
2 -0.279883  0.642394 -0.433121
3 -0.426272  0.680637  0.026484

In [26]:
df['a'].apply(half) #can apply just to certain elements in a column too

0    0.151146
1   -0.246152
2   -0.279883
3   -0.426272
Name: a, dtype: float64

In [29]:
def range_func(x):
    return max(x) - min(x)

In [30]:
max(df['a'])

0.30229211624285995

In [31]:
df.apply(range_func)

a    1.154837
b    1.522633
c    1.998837
dtype: float64

In [34]:
%%time
x = list(map(half, df['a']))
print(x)

[0.15114605812142998, -0.24615156910098232, -0.2798831132286875, -0.42627228286072827]
Wall time: 0 ns