# Challenge 1 - Tic Tac Toe

In this lab you will perform deep learning analysis on a dataset of playing [Tic Tac Toe](https://en.wikipedia.org/wiki/Tic-tac-toe).

There are 9 grids in Tic Tac Toe that are coded as the following picture shows:

![Tic Tac Toe Grids](tttboard.jpg)

In the first 9 columns of the dataset you can find which marks (`x` or `o`) exist in the grids. If there is no mark in a certain grid, it is labeled as `b`. The last column is `class` which tells you whether Player X (who always moves first in Tic Tac Toe) wins in this configuration. Note that when `class` has the value `False`, it means either Player O wins the game or it ends up as a draw.

Follow the steps suggested below to conduct a neural network analysis using Tensorflow and Keras. You will build a deep learning model to predict whether Player X wins the game or not.

## Step 1: Data Engineering

This dataset is almost in the ready-to-use state so you do not need to worry about missing values and so on. Still, some simple data engineering is needed.

1. Read `tic-tac-toe.csv` into a dataframe.
1. Inspect the dataset. Determine if the dataset is reliable by eyeballing the data.
1. Convert the categorical values to numeric in all columns.
1. Separate the inputs and output.
1. Normalize the input data.

In [3]:
import tensorflow as tf

In [7]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [57]:
# your code here
import pandas as pd
import numpy as np
data=pd.read_csv('tic-tac-toe.csv')

In [58]:
data.head(5)

  TL TM TR ML MM MR BL BM BR  class
0  x  x  x  x  o  o  x  o  o   True
1  x  x  x  x  o  o  o  x  o   True
2  x  x  x  x  o  o  o  o  x   True
3  x  x  x  x  o  o  o  b  b   True
4  x  x  x  x  o  o  b  o  b   True

In [59]:
data.dtypes

TL       object
TM       object
TR       object
ML       object
MM       object
MR       object
BL       object
BM       object
BR       object
class      bool
dtype: object

In [60]:
data=pd.get_dummies(data)

In [61]:
data.head()

,class,TL_b,TL_o,TL_x,TM_b,TM_o,TM_x,TR_b,TR_o,TR_x,...,MR_x,BL_b,BL_o,BL_x,BM_b,BM_o,BM_x,BR_b,BR_o,BR_x
0,True,0,0,1,0,0,1,0,0,1,...,0,0,0,1,0,1,0,0,1,0
1,True,0,0,1,0,0,1,0,0,1,...,0,0,1,0,0,0,1,0,1,0
2,True,0,0,1,0,0,1,0,0,1,...,0,0,1,0,0,1,0,0,0,1
3,True,0,0,1,0,0,1,0,0,1,...,0,0,1,0,1,0,0,1,0,0
4,True,0,0,1,0,0,1,0,0,1,...,0,1,0,0,0,1,0,1,0,0

In [62]:
data.shape

(958, 28)

In [63]:
output=data['class']

In [64]:
output

0       True
1       True
2       True
3       True
4       True
5       True
6       True
7       True
8       True
9       True
10      True
11      True
12      True
13      True
14      True
15      True
16      True
17      True
18      True
19      True
20      True
21      True
22      True
23      True
24      True
25      True
26      True
27      True
28      True
29      True
       ...
928    False
929    False
930    False
931    False
932    False
933    False
934    False
935    False
936    False
937    False
938    False
939    False
940    False
941    False
942    False
943    False
944    False
945    False
946    False
947    False
948    False
949    False
950    False
951    False
952    False
953    False
954    False
955    False
956    False
957    False
Name: class, Length: 958, dtype: bool

In [65]:
inputs=data.drop(['class'], axis=1)

In [66]:
x=inputs

In [67]:
x.head()

,TL_b,TL_o,TL_x,TM_b,TM_o,TM_x,TR_b,TR_o,TR_x,ML_b,...,MR_x,BL_b,BL_o,BL_x,BM_b,BM_o,BM_x,BR_b,BR_o,BR_x
0,0,0,1,0,0,1,0,0,1,0,...,0,0,0,1,0,1,0,0,1,0
1,0,0,1,0,0,1,0,0,1,0,...,0,0,1,0,0,0,1,0,1,0
2,0,0,1,0,0,1,0,0,1,0,...,0,0,1,0,0,1,0,0,0,1
3,0,0,1,0,0,1,0,0,1,0,...,0,0,1,0,1,0,0,1,0,0
4,0,0,1,0,0,1,0,0,1,0,...,0,1,0,0,0,1,0,1,0,0

In [92]:
x=x.values

AttributeError: 'numpy.ndarray' object has no attribute 'values'

In [69]:
type(x)

numpy.ndarray

In [70]:
output=np.where(output==True,1,0)

In [71]:
outputpd = pd.DataFrame(output)

In [72]:
y=outputpd

In [73]:
y=y.values

In [74]:
type(y)

numpy.ndarray

## Step 2: Build Neural Network

To build the neural network, you can refer to your own codes you wrote while following the [Deep Learning with Python, TensorFlow, and Keras tutorial](https://www.youtube.com/watch?v=wQ8BIBpya2k) in the lesson. It's pretty similar to what you will be doing in this lab.

1. Split the training and test data.
1. Create a `Sequential` model.
1. Add several layers to your model. Make sure you use ReLU as the activation function for the middle layers. Use Softmax for the output layer because each output has a single lable and all the label probabilities add up to 1.
1. Compile the model using `adam` as the optimizer and `sparse_categorical_crossentropy` as the loss function. For metrics, use `accuracy` for now.
1. Fit the training data.
1. Evaluate your neural network model with the test data.
1. Save your model as `tic-tac-toe.model`.

In [75]:
# your code here
from sklearn.model_selection import train_test_split

In [76]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
x_train=x_train.astype('float')
y_train=y_train.astype('float')

In [93]:
model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Flatten())
model.add(tf.keras.layers.Dense(128, activation=tf.nn.relu))
model.add(tf.keras.layers.Dense(128, activation=tf.nn.relu))
model.add(tf.keras.layers.Dense(10, activation=tf.nn.softmax))

In [95]:
#from keras import optimizers
#opt = optimizers.Adam(lr=0.001,epsilon=None)
#model.compile(optimizer = opt, loss = 'sparse_categorical_crossentropy', metrics=['accuracy'])
#model.fit(x_train, y_train, epochs=9)


model.compile(optimizer = 'adam', loss = 'sparse_categorical_crossentropy', metrics=['accuracy'])
model.fit(x_train, y_train, epochs=9)

Epoch 1/9
766/766 [==============================] - 0s 224us/sample - loss: 1.4633 - acc: 0.5366
Epoch 2/9
766/766 [==============================] - 0s 82us/sample - loss: 0.5900 - acc: 0.7154
Epoch 3/9
766/766 [==============================] - 0s 82us/sample - loss: 0.5027 - acc: 0.7507
Epoch 4/9
766/766 [==============================] - 0s 61us/sample - loss: 0.4521 - acc: 0.7937
Epoch 5/9
766/766 [==============================] - 0s 102us/sample - loss: 0.3891 - acc: 0.8251
Epoch 6/9
766/766 [==============================] - 0s 82us/sample - loss: 0.3177 - acc: 0.8695
Epoch 7/9
766/766 [==============================] - 0s 82us/sample - loss: 0.2497 - acc: 0.9386
Epoch 8/9
766/766 [==============================] - 0s 61us/sample - loss: 0.2011 - acc: 0.9648
Epoch 9/9
766/766 [==============================] - 0s 82us/sample - loss: 0.1422 - acc: 0.9778

In [96]:
val_loss, val_acc = model.evaluate(x_test, y_test)

192/192 [==============================] - 1s 3ms/sample - loss: 0.1513 - acc: 0.9688

In [97]:
model.save('tic-tac-toe.model')
new_model = tf.keras.models.load_model('tic-tac-toe.model')

W0801 13:26:24.812696 12200 hdf5_format.py:263] Sequential models without an `input_shape` passed to the first layer cannot reload their optimizer state. As a result, your model isstarting with a freshly initialized optimizer.

## Step 3: Make Predictions

Now load your saved model and use it to make predictions on a few random rows in the test dataset. Check if the predictions are correct.

In [98]:
# your code here
predictions = new_model.predict(x_test)
print(np.argmax(predictions[0]))
print(np.argmax(predictions[1]))
print(np.argmax(predictions[2]))
print(np.argmax(predictions[3]))

1
1
1
0

In [99]:
print(y_test[0])
print(y_test[1])
print(y_test[2])
print(y_test[3])

[1]
[1]
[1]
[0]

## Step 4: Improve Your Model

Did your model achieve low loss (<0.1) and high accuracy (>0.95)? If not, try to improve your model.

But how? There are so many things you can play with in Tensorflow and in the next challenge you'll learn about these things. But in this challenge, let's just do a few things to see if they will help.

* Add more layers to your model. If the data are complex you need more layers. But don't use more layers than you need. If adding more layers does not improve the model performance you don't need additional layers.
* Adjust the learning rate when you compile the model. This means you will create a custom `tf.keras.optimizers.Adam` instance where you specify the learning rate you want. Then pass the instance to `model.compile` as the optimizer.
    * `tf.keras.optimizers.Adam` [reference](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adam).
    * Don't worry if you don't understand what the learning rate does. You'll learn about it in the next challenge.
* Adjust the number of epochs when you fit the training data to the model. Your model performance continues to improve as you train more epochs. But eventually it will reach the ceiling and the performance will stay the same.

In [ ]:
# your code here
#attempted to modify Adam learning rate but ran into library issues
#the code for the lower loss rate is included in step three

**Which approach(es) did you find helpful to improve your model performance?**

In [ ]:
# your answer here