In [101]:
#Financial Model Project 
#Author: Tom Pelletier 

import requests as r
import pandas as pd 
import numpy as np 
import json

In [102]:
#Data from API https://financialmodelingprep.com/developer/docs/

In [400]:
#Get Jsons of Company Financials
companny_code = 'AAPL'

get_profile = r.get('https://financialmodelingprep.com/api/v3/company/profile/%s' % (company_code)).json()
get_Qincome = r.get('https://financialmodelingprep.com/api/v3/financials/income-statement/%s?period=quarter' % (company_code)).json()
get_Qbalance = r.get('https://financialmodelingprep.com/api/v3/financials/balance-sheet-statement/%s?period=quarter' % (company_code)).json()
get_Qcashflow = r.get('https://financialmodelingprep.com/api/v3/financials/cash-flow-statement/%s?period=quarter' % (company_code)).json()
get_Qgrowth = r.get('https://financialmodelingprep.com/api/v3/financial-statement-growth/%s?period=quarter' % (company_code)).json()
#label
get_price = r.get('https://financialmodelingprep.com/api/v3/historical-price-full/%s?from=2009-03-12&to=2019-06-12' % (company_code)).json()
#all company symbols on NASDAQ
get_symbols = r.get('https://financialmodelingprep.com/api/v3/company/stock/list').json()

all_jsons = [get_Qincome,get_Qbalance,get_Qcashflow,get_Qgrowth]

In [513]:
json_y()

,change,changeOverTime,changePercent,close,date,high,label,low,open,unadjustedVolume,volume,vwap
0,1.707300,1.131330,0.967,178.3077,2018-03-12,178.9652,"Mar 12, 18",176.8261,176.9046,32207081,32207081,178.2460
1,-1.717100,1.110805,-0.963,176.5906,2018-03-13,180.0543,"Mar 13, 18",175.8743,179.1614,31693529,31693529,178.1763
2,-1.501300,1.092860,-0.850,175.0893,2018-03-14,177.1303,"Mar 14, 18",174.4712,176.9340,29368356,29368356,175.4052
3,0.206057,1.095324,0.118,175.2954,2018-03-15,176.8555,"Mar 15, 18",174.7264,175.1482,22743798,22743798,175.6999
4,-0.618171,1.087934,-0.353,174.6772,2018-03-16,175.7566,"Mar 16, 18",174.2847,175.2954,39404688,39404688,174.9895
5,-2.668900,1.056033,-1.528,172.0083,2018-03-19,174.1375,"Mar 19, 18",170.3991,173.9904,33446771,33446771,171.9398
6,-0.058873,1.055329,-0.034,171.9494,2018-03-20,173.4801,"Mar 20, 18",171.6551,171.9494,19649350,19649350,172.4337
7,-3.895500,1.008766,-2.265,168.0540,2018-03-21,171.8022,"Mar 21, 18",168.0442,171.7532,37054935,37054935,169.8887
8,-2.374600,0.980383,-1.413,165.6794,2018-03-22,169.4375,"Mar 22, 18",165.4341,166.8078,41490767,41490767,166.9717
9,-3.836600,0.934523,-2.316,161.8428,2018-03-23,166.7293,"Mar 23, 18",161.8428,165.2280,41028784,41028784,164.4338
10,7.683000,1.026359,4.747,169.5258,2018-03-26,169.8496,"Mar 26, 18",163.3147,164.9141,37541236,37541236,166.8473
11,-4.346800,0.974401,-2.564,165.1790,2018-03-27,171.8611,"Mar 27, 18",163.7856,170.4187,40922579,40922579,168.3167
12,-1.825100,0.952586,-1.105,163.3539,2018-03-28,166.8274,"Mar 28, 18",162.0881,164.1095,41668545,41668545,164.0508
13,1.275600,0.967833,0.781,164.6295,2018-03-29,168.5250,"Mar 29, 18",163.7660,164.6540,38398505,38398505,166.0315
14,-1.079300,0.954932,-0.656,163.5502,2018-04-02,165.7677,"Apr 2, 18",161.3817,164.7276,37586791,37586791,163.2132
15,1.677900,0.974987,1.026,165.2280,2018-04-03,165.5769,"Apr 3, 18",161.7840,164.4921,30278046,30278046,163.7664
16,3.159500,1.012754,1.912,168.3876,2018-04-04,168.7801,"Apr 4, 18",161.6760,161.7840,34605489,34605489,166.0007
17,1.167700,1.026710,0.693,169.5552,2018-04-05,170.9588,"Apr 5, 18",168.8488,169.3394,26933197,26933197,169.9838
18,-4.337000,0.974870,-2.558,165.2182,2018-04-06,169.2412,"Apr 6, 18",165.0416,167.7596,35005290,35005290,166.6668
19,1.638600,0.994457,0.992,166.8569,2018-04-09,169.8398,"Apr 9, 18",166.6557,166.6901,29017718,29017718,168.3337
20,3.139900,1.031989,1.882,169.9968,2018-04-10,170.7327,"Apr 10, 18",168.3091,169.7515,28614241,28614241,169.7628
21,-0.794790,1.022489,-0.468,169.2020,2018-04-11,170.6573,"Apr 11, 18",168.4759,168.9959,22431640,22431640,169.4970
22,1.668100,1.042428,0.986,170.8701,2018-04-12,171.7139,"Apr 12, 18",169.7907,170.1538,22889285,22889285,171.0852
23,0.578923,1.049347,0.339,171.4490,2018-04-13,172.5382,"Apr 13, 18",170.5855,171.4981,25124255,25124255,171.5921
24,1.069500,1.062131,0.624,172.5185,2018-04-16,172.8816,"Apr 16, 18",171.5472,171.7435,21578420,21578420,172.3326
25,2.374600,1.090515,1.376,174.8931,2018-04-17,175.5765,"Apr 17, 18",173.0975,173.1759,26605442,26605442,174.6228
26,-0.392489,1.085823,-0.224,174.5006,2018-04-18,175.4622,"Apr 18, 18",173.5586,174.4712,20754538,20754538,174.5955
27,-4.945400,1.026710,-2.834,169.5552,2018-04-19,172.0966,"Apr 19, 18",169.4179,171.6649,34808800,34808800,170.3642
28,-6.947100,0.943672,-4.097,162.6082,2018-04-20,168.0033,"Apr 20, 18",162.3236,167.3916,65491140,65491140,163.9200
29,-0.470986,0.938042,-0.290,162.1372,2018-04-23,163.7856,"Apr 23, 18",161.0088,163.7021,36515477,36515477,162.4728
...,...,...,...,...,...,...,...,...,...,...,...,...
222,-1.606900,0.833946,-1.036,153.4285,2019-01-29,156.8506,"Jan 29, 19",152.8632,154.9858,41587239,41587239,154.5199
223,10.484500,0.959269,6.833,163.9130,2019-01-30,164.8057,"Jan 30, 19",158.9336,161.9292,61109780,61109780,161.9055
224,1.180400,0.973378,0.720,165.0934,2019-01-31,167.6327,"Jan 31, 19",163.2286,164.7661,40739649,40739649,165.7620
225,0.079352,0.974327,0.048,165.1728,2019-02-01,167.6128,"Feb 1, 19",164.5875,165.6092,32668138,32668138,165.8171
226,4.691700,1.030407,2.840,169.8645,2019-02-04,170.2662,"Feb 4, 19",165.9266,166.0556,31495582,31495582,169.0159
227,2.906300,1.065147,1.711,172.7708,2019-02-05,173.6635,"Feb 5, 19",170.9557,171.4615,36101628,36101628,172.5976
228,0.059515,1.065858,0.034,172.8303,2019-02-06,174.1495,"Feb 6, 19",171.4546,173.2370,28239591,28239591,172.8522
229,-3.273300,1.026732,-1.894,169.5570,2019-02-07,172.5327,"Feb 7, 19",168.9618,171.0052,31741690,31741690,170.2548
230,0.199317,1.029114,0.118,169.7563,2019-02-08,170.0053,"Feb 8, 19",167.7739,168.3418,23819966,23819966,169.1356
231,-0.976240,1.017446,-0.575,168.7801,2019-02-11,170.5532,"Feb 11, 19",168.6008,170.3939,20993425,20993425,169.2945
232,1.454400,1.034830,0.862,170.2345,2019-02-12,170.3440,"Feb 12, 19",169.0490,169.4475,22283523,22283523,169.7196
233,-0.707276,1.026376,-0.415,169.5272,2019-02-13,171.8184,"Feb 13, 19",169.2682,170.7325,22490233,22490233,170.3478
234,0.617621,1.033758,0.364,170.1448,2019-02-14,170.6045,"Feb 14, 19",168.7303,169.0590,21835747,21835747,169.9981
235,-0.378542,1.029234,-0.222,169.7663,2019-02-15,171.0414,"Feb 15, 19",169.0988,170.5931,24626814,24626814,169.8308
236,0.508044,1.035306,0.299,170.2743,2019-02-19,170.7824,"Feb 19, 19",168.8398,169.0590,18972826,18972826,169.8659
237,1.095800,1.048404,0.644,171.3701,2019-02-20,172.6551,"Feb 20, 19",170.3341,170.5333,26114362,26114362,171.5523
238,-0.966279,1.036854,-0.564,170.4038,2019-02-21,171.7088,"Feb 21, 19",169.6467,171.1410,17249670,17249670,170.4596
239,1.902700,1.059597,1.117,172.3065,2019-02-22,172.3364,"Feb 22, 19",170.7226,170.9218,18913154,18913154,171.6917
240,1.255200,1.074600,0.728,173.5617,2019-02-25,175.1954,"Feb 25, 19",173.2827,173.4919,21873358,21873358,174.1933
241,0.099616,1.075791,0.057,173.6613,2019-02-26,174.6275,"Feb 26, 19",172.5089,173.0436,17070211,17070211,173.7013
242,0.537929,1.082221,0.310,174.1992,2019-02-27,174.3287,"Feb 27, 19",172.0674,172.5456,27835389,27835389,173.5184
243,-1.713400,1.061740,-0.984,172.4858,2019-02-28,174.2390,"Feb 28, 19",172.2567,173.6513,28215416,28215416,173.1099
244,1.813000,1.083411,1.051,174.2988,2019-03-01,174.4781,"Mar 1, 19",172.2268,173.6115,25886167,25886167,173.6240
245,0.876624,1.093889,0.503,175.1754,2019-03-04,177.0682,"Mar 4, 19",173.3027,175.0161,27436203,27436203,175.2686
246,-0.318772,1.090080,-0.182,174.8567,2019-03-05,175.3249,"Mar 5, 19",173.8705,175.2651,19737419,19737419,174.6873
247,-1.006100,1.078053,-0.575,173.8505,2019-03-06,174.8168,"Mar 6, 19",173.2728,174.0000,20810384,20810384,174.0727
248,-2.012300,1.054001,-1.157,171.8383,2019-03-07,173.7708,"Mar 7, 19",171.3601,173.2030,24796374,24796374,172.3975
249,0.408427,1.058882,0.238,172.2467,2019-03-08,172.4061,"Mar 8, 19",168.8498,169.6667,23999358,23999358,171.1473
250,5.967000,1.130206,3.464,178.2137,2019-03-11,178.4329,"Mar 11, 19",174.6774,174.8168,32011034,32011034,177.4342
251,2.002300,1.154140,1.124,180.2160,2019-03-12,181.9693,"Mar 12, 19",178.6819,179.3095,32467584,32467584,180.4365

In [512]:
#Wrangle the price Data, Turn into Dataframe

def json_y(): 
    
    df = pd.DataFrame(get_price['historical'])
    
    return df






#Convert Json features to Pandas DataFrames

def json_df():
    df_lst = []
    #make individual DFs and store them in list
    for i in all_jsons: 
        key = list(i.keys())[1]
        df = pd.DataFrame.from_dict(i[key])
        df_lst.append(df)
    df = pd.DataFrame.from_dict(get_profile)
    #all we want from the profile json is the sector of the company
    sector = pd.DataFrame.from_dict(get_profile).T['sector'][1]
    
    #merge DataFrames into one
    df = df_lst[0].merge(df_lst[1])
    df = df.merge(df_lst[2])
    df = df.merge(df_lst[3])
    #add the sector line
    df['Sector'] = sector
    #drop date column
    df.drop('date',inplace=True,axis=1)
    
    #convert dtypes to numeric
    cols = df.columns
    for i in cols: 
        if i != 'Sector':
            df[i] = pd.to_numeric(df[i])
    
    return df

In [502]:
df = json_df()