In [236]:
#Financial Model Project 
#Author: Tom Pelletier 

import requests as r
import pandas as pd 
import numpy as np 
import json
import time
import os
import pymysql
from sqlalchemy import create_engine

In [65]:
#Data from API https://financialmodelingprep.com/developer/docs/

In [175]:
#Get Jsons of Company Financials
company_code = 'AAPL'

get_profile = r.get('https://financialmodelingprep.com/api/v3/company/profile/%s' % (company_code)).json()
get_Qincome = r.get('https://financialmodelingprep.com/api/v3/financials/income-statement/%s?period=quarter' % (company_code)).json()
get_Qbalance = r.get('https://financialmodelingprep.com/api/v3/financials/balance-sheet-statement/%s?period=quarter' % (company_code)).json()
get_Qcashflow = r.get('https://financialmodelingprep.com/api/v3/financials/cash-flow-statement/%s?period=quarter' % (company_code)).json()
get_Qgrowth = r.get('https://financialmodelingprep.com/api/v3/financial-statement-growth/%s?period=quarter' % (company_code)).json()

#all company symbols on NASDAQ
get_symbols = r.get('https://financialmodelingprep.com/api/v3/company/stock/list').json()
symbol_lst = [get_symbols['symbolsList'][i]['symbol'] for i in range(len(get_symbols['symbolsList']))]

all_jsons = [get_Qincome,get_Qbalance,get_Qcashflow,get_Qgrowth]

In [205]:
#Clean symbol_lst for companies that are existing/have finanicals

def clean_symba(s,e): 
    
    lst = [get_symbols['symbolsList'][i]['symbol'] for i in range(len(get_symbols['symbolsList']))][s:e]
    
    for i in lst:
        try:
            company_code = i
            get_Qincome = r.get('https://financialmodelingprep.com/api/v3/financials/income-statement/%s?period=quarter' % (company_code),timeout=3).json()
            output = get_Qincome['financials']
            print(i)
            print(lst.index(i),'/',e)
            if not output:
                lst.remove(i)
                
        except: 
            pass
            
    return lst

In [206]:

#Convert Json features and label to Pandas DataFrames WRANGLING

def json_df(company_code):
    df_lst = []
    
    #GETS
    get_profile = r.get('https://financialmodelingprep.com/api/v3/company/profile/%s' % (company_code)).json()
    get_Qincome = r.get('https://financialmodelingprep.com/api/v3/financials/income-statement/%s?period=quarter' % (company_code)).json()
    get_Qbalance = r.get('https://financialmodelingprep.com/api/v3/financials/balance-sheet-statement/%s?period=quarter' % (company_code)).json()
    get_Qcashflow = r.get('https://financialmodelingprep.com/api/v3/financials/cash-flow-statement/%s?period=quarter' % (company_code)).json()
    get_Qgrowth = r.get('https://financialmodelingprep.com/api/v3/financial-statement-growth/%s?period=quarter' % (company_code)).json()
    all_jsons = [get_Qincome,get_Qbalance,get_Qcashflow,get_Qgrowth]
    
    #make individual DFs and store them in list
    for i in all_jsons: 
        key = list(i.keys())[1]
        df = pd.DataFrame.from_dict(i[key])
        df_lst.append(df)
    df = pd.DataFrame.from_dict(get_profile)
    
    #all we want from the profile json is the sector of the company
    sector = pd.DataFrame.from_dict(get_profile).T['sector'][1]
    
    try:

        #merge DataFrames into one
        df = df_lst[0].merge(df_lst[1])
        df = df.merge(df_lst[2])
        df = df.merge(df_lst[3])


        #add the sector column
        df['Sector'] = sector

        #save and drop date column
        quarters = list(df['date'])
        df.drop('date',inplace=True,axis=1)

        #convert dtypes to numeric
        cols = df.columns
        for i in cols: 
            if i != 'Sector':
                df[i] = pd.to_numeric(df[i])

        #deal with the label(price) column:
        Mean_Q_P = []
        Mean_Q_V = []

        for i in range(len(quarters)): 
            if i <len(quarters)-1:
                close_lst = []
                vol_lst = []
                start = quarters[i] 
                end = quarters[i+1]
                get_price = r.get('https://financialmodelingprep.com/api/v3/historical-price-full/%s?from=%s&to=%s' % (company_code,end,start)).json()

                for i in get_price['historical']:
                    close = i['close']
                    volume = i['volume']
                    close_lst.append(close)
                    vol_lst.append(volume)

                Mean_Q_P.append(np.mean(close_lst))
                Mean_Q_V.append(np.mean(vol_lst))
        #remove nan
        filtered_P = [i for i in Mean_Q_P if str(i)!='nan']
        filtered_V = [i for i in Mean_Q_V if str(i)!='nan']
        df_y = pd.DataFrame([filtered_P,filtered_V]).T
        df_y.columns = ['Price','Volume']
        #match the shape of both DFs
        df = df[df.index <len(df_y)]
        df['Volume'] = df_y['Volume']
        df_y.drop('Volume',inplace=True,axis=1)
        
        if df is not None:
            return df, df_y   
    
    except: 
        pass

In [286]:
#get all financials froma all publicly listed companies
def Total_Nasdaq_Financials(lst):
    boo = False
    counter = 0
    
    for i in lst:
        t0 = time.time()
        counter += 1
        company_code = i
        
        if boo:
            try:
                df_, df_y_ = json_df(i)
                df = pd.concat([df, df_])
                df_y = pd.concat([df_y, df_y_])
                #print(lst.index(i)+1,'/',len(lst))
            except: 
                pass
        
        if not boo:
            df, df_y = json_df(i)
            boo = True
        
        if counter%5 == 0:
            path = os.getcwd()+'/'+'x'
            path_y = os.getcwd()+'/'+'y'
            df.to_csv(path)
            df_y.to_csv(path_y)
            
        #save to SQL
        to_SQL(df, 'X')
        to_SQL(df_y,'Y')
        
        #Calculate ETA of Scrape
        T = time.time() - t0 
        T_lst = [] 
        T_lst.append(T)
        ETA = np.mean(T_lst)*(len(lst)-lst.index(i)
        print(i,'Financials has been Scraped and Stored to SQL',lst.index(i),'/',len(lst),'\n ETA: ',ETA)
        
        
    return df, df_y

In [287]:
#Save and Read mySQL Functions 

def to_SQL(data, table_name):
    
    engine = create_engine('mysql+pymysql://root:nothing1@localhost/PROJECT')
    data.to_sql(table_name, engine, if_exists='append', index=False)
    
    #return print(table_name,' Successfully Saved to SQL')




def from_SQL(Table): 
    
    engine = create_engine('mysql+pymysql://root:nothing1@localhost/PROJECT')
    data = pd.read_sql_query('SELECT * FROM PROJECT.'+Table, engine)
    #data = pd.DataFrame(data)
    
    return data

In [ ]:
Total_Nasdaq_Financials(clean_1000)

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
CMCSA Financials has been Scraped and Stored to SQL 0 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
KMI Financials has been Scraped and Stored to SQL 1 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
INTC Financials has been Scraped and Stored to SQL 2 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
MU Financials has been Scraped and Stored to SQL 3 / 851
X  Successfully Saved to SQL
Y  Successfully Saved to SQL
GE Financials has been Scraped and Stored to SQL 4 / 851
X  Successfully Saved to SQL
Y  Successfully Saved to SQL
BAC Financials has been Scraped and Stored to SQL 5 / 851
X  Successfully Saved to SQL
Y  Successfully Saved to SQL
XLF Financials has been Scraped and Stored to SQL 6 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
AAPL Financials has been Scraped and Stored to SQL 7 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
MSFT Financials has been Scraped and Stored to SQL 8 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
SIRI Financials has been Scraped and Stored to SQL 9 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
HPQ Financials has been Scraped and Stored to SQL 10 / 851
X  Successfully Saved to SQL
Y  Successfully Saved to SQL
CX Financials has been Scraped and Stored to SQL 11 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
CZR Financials has been Scraped and Stored to SQL 12 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
F Financials has been Scraped and Stored to SQL 13 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
AMD Financials has been Scraped and Stored to SQL 14 / 851
X  Successfully Saved to SQL
Y  Successfully Saved to SQL
SNAP Financials has been Scraped and Stored to SQL 15 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
FB Financials has been Scraped and Stored to SQL 16 / 851
X  Successfully Saved to SQL
Y  Successfully Saved to SQL
WFC Financials has been Scraped and Stored to SQL 17 / 851
X  Successfully Saved to SQL
Y  Successfully Saved to SQL
AIG Financials has been Scraped and Stored to SQL 18 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
T Financials has been Scraped and Stored to SQL 19 / 851
X  Successfully Saved to SQL
Y  Successfully Saved to SQL
C Financials has been Scraped and Stored to SQL 20 / 851
X  Successfully Saved to SQL
Y  Successfully Saved to SQL
VALE Financials has been Scraped and Stored to SQL 21 / 851
X  Successfully Saved to SQL
Y  Successfully Saved to SQL
MS Financials has been Scraped and Stored to SQL 22 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
AKS Financials has been Scraped and Stored to SQL 23 / 851
X  Successfully Saved to SQL
Y  Successfully Saved to SQL
JPM Financials has been Scraped and Stored to SQL 24 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
ORCL Financials has been Scraped and Stored to SQL 25 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
NKE Financials has been Scraped and Stored to SQL 26 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
PG Financials has been Scraped and Stored to SQL 27 / 851
X  Successfully Saved to SQL
Y  Successfully Saved to SQL
IWM Financials has been Scraped and Stored to SQL 28 / 851
X  Successfully Saved to SQL
Y  Successfully Saved to SQL
GSM Financials has been Scraped and Stored to SQL 29 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
HK Financials has been Scraped and Stored to SQL 30 / 851
X  Successfully Saved to SQL
Y  Successfully Saved to SQL
BBD Financials has been Scraped and Stored to SQL 31 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
PFE Financials has been Scraped and Stored to SQL 32 / 851
X  Successfully Saved to SQL
Y  Successfully Saved to SQL
JD Financials has been Scraped and Stored to SQL 33 / 851
X  Successfully Saved to SQL
Y  Successfully Saved to SQL
NOK Financials has been Scraped and Stored to SQL 34 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
TWTR Financials has been Scraped and Stored to SQL 35 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
AVGO Financials has been Scraped and Stored to SQL 36 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
AMAT Financials has been Scraped and Stored to SQL 37 / 851
X  Successfully Saved to SQL
Y  Successfully Saved to SQL
UVXY Financials has been Scraped and Stored to SQL 38 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
DWDP Financials has been Scraped and Stored to SQL 39 / 851
X  Successfully Saved to SQL
Y  Successfully Saved to SQL
VEA Financials has been Scraped and Stored to SQL 40 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
ZNGA Financials has been Scraped and Stored to SQL 41 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
XOM Financials has been Scraped and Stored to SQL 42 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
QCOM Financials has been Scraped and Stored to SQL 43 / 851
X  Successfully Saved to SQL
Y  Successfully Saved to SQL
VIPS Financials has been Scraped and Stored to SQL 44 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
CSCO Financials has been Scraped and Stored to SQL 45 / 851
X  Successfully Saved to SQL
Y  Successfully Saved to SQL
AXP Financials has been Scraped and Stored to SQL 46 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
BMY Financials has been Scraped and Stored to SQL 47 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
V Financials has been Scraped and Stored to SQL 48 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
USO Financials has been Scraped and Stored to SQL 49 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
GRPN Financials has been Scraped and Stored to SQL 50 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
WP Financials has been Scraped and Stored to SQL 51 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
GERN Financials has been Scraped and Stored to SQL 52 / 851
X  Successfully Saved to SQL
Y  Successfully Saved to SQL
KEY Financials has been Scraped and Stored to SQL 53 / 851
X  Successfully Saved to SQL
Y  Successfully Saved to SQL
RF Financials has been Scraped and Stored to SQL 54 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
KR Financials has been Scraped and Stored to SQL 55 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
HAL Financials has been Scraped and Stored to SQL 56 / 851
X  Successfully Saved to SQL
Y  Successfully Saved to SQL
BABA Financials has been Scraped and Stored to SQL 57 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
MRO Financials has been Scraped and Stored to SQL 58 / 851
X  Successfully Saved to SQL
Y  Successfully Saved to SQL
CLNS Financials has been Scraped and Stored to SQL 59 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
GILD Financials has been Scraped and Stored to SQL 60 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
GM Financials has been Scraped and Stored to SQL 61 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
FCX Financials has been Scraped and Stored to SQL 62 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
CRM Financials has been Scraped and Stored to SQL 63 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
ATVI Financials has been Scraped and Stored to SQL 64 / 851
X  Successfully Saved to SQL
Y  Successfully Saved to SQL
SQ Financials has been Scraped and Stored to SQL 65 / 851
X  Successfully Saved to SQL
Y  Successfully Saved to SQL
XLK Financials has been Scraped and Stored to SQL 66 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
NUE Financials has been Scraped and Stored to SQL 67 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
SWN Financials has been Scraped and Stored to SQL 68 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
LOW Financials has been Scraped and Stored to SQL 69 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
RAD Financials has been Scraped and Stored to SQL 70 / 851
X  Successfully Saved to SQL
Y  Successfully Saved to SQL
VEON Financials has been Scraped and Stored to SQL 71 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
APC Financials has been Scraped and Stored to SQL 72 / 851
X  Successfully Saved to SQL
Y  Successfully Saved to SQL
EWJ Financials has been Scraped and Stored to SQL 73 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
ESV Financials has been Scraped and Stored to SQL 74 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
SLB Financials has been Scraped and Stored to SQL 75 / 851

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

X  Successfully Saved to SQL
Y  Successfully Saved to SQL
FLEX Financials has been Scraped and Stored to SQL 76 / 851
X  Successfully Saved to SQL
Y  Successfully Saved to SQL
FOXA Financials has been Scraped and Stored to SQL 77 / 851

In [209]:
#clean_list = clean_symba(1000,2000)

In [198]:
clean_1000 = clean_list

In [201]:
clean_2000 = clean_list

In [258]:
x = from_SQL('X')
x.head()

,Consolidated Income,Cost of Revenue,Dividend per Share,EBIT,EBIT Margin,EBITDA,EBITDA Margin,EPS,EPS Diluted,Earnings Before Tax Margin,...,Net Income Growth,Operating Cash Flow growth,Operating Income Growth,R&D Expense Growth,Receivables growth,SG&A Expenses Growth,Weighted Average Shares Diluted Growth,Weighted Average Shares Growth,Sector,Volume
0,3.203000e+09,0.0,0.21,5.223000e+09,0.1945,8.499000e+09,0.316,0.69,0.68,0.1521,...,-0.0283,-0.0033,0.0682,0.0,0.2247,0.2729,NaN,-0.0170,Consumer Cyclical,1.841824e+07
1,3.632000e+09,0.0,0.00,5.779000e+09,0.2152,9.099000e+09,0.339,0.78,0.77,0.1723,...,0.1395,0.3210,0.1156,0.0,0.2257,0.1807,NaN,-0.0255,Consumer Cyclical,2.073555e+07
2,2.582000e+09,0.0,0.38,4.126000e+09,0.1482,7.323000e+09,0.263,0.56,0.55,0.1076,...,-0.8326,0.0714,0.0932,0.0,0.2570,0.3128,NaN,-0.0266,Consumer Cyclical,2.328027e+07
3,2.896000e+09,0.0,0.19,4.715000e+09,0.2130,7.192000e+09,0.325,0.63,0.62,0.1755,...,0.0924,0.1688,0.0119,0.0,0.1349,0.0439,NaN,-0.0279,Consumer Cyclical,1.949347e+07
4,3.208000e+09,0.0,0.19,5.099000e+09,0.2346,7.502000e+09,0.345,0.70,0.69,0.1975,...,0.2757,0.3784,0.0976,0.0,0.1271,0.0075,NaN,-0.0265,Consumer Cyclical,2.886148e+07

In [259]:
y = from_SQL('Y')
y.head()

       Price
0  42.180000
1  37.373935
2  36.116371
3  34.827060
4  31.872945