# Python Learning Exercises

## Fibonacci Recap

In [1]:
fib=[0,1]
print(fib)

[0, 1]

In [2]:
x=fib[0]
y=fib[1]

In [3]:
for i in range(2, 100):
    z=fib[i-1]+fib[i-2]
    fib.append(z)

In [4]:
print(fib)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173, 86267571272, 139583862445, 225851433717, 365435296162, 591286729879, 956722026041, 1548008755920, 2504730781961, 4052739537881, 6557470319842, 10610209857723, 17167680177565, 27777890035288, 44945570212853, 72723460248141, 117669030460994, 190392490709135, 308061521170129, 498454011879264, 806515533049393, 1304969544928657, 2111485077978050, 3416454622906707, 5527939700884757, 8944394323791464, 14472334024676221, 23416728348467685, 37889062373143906, 61305790721611591, 99194853094755497, 160500643816367088, 259695496911122585, 420196140727489673, 679891637638612258, 1100087778366101931, 1779979416004714189, 2880067194370816120, 4660046610375530309, 7540113804746346429, 12200160415121876738, 19740274219868223167, 31940434634990099905, 51680708854858323072, 83621143489848422977, 135301852344706746049, 218922995834555169026]

## Temperature Conversation Recap

In [5]:
Choice = False
Calculated = False

In [6]:
while (Choice != True):
  x = input("1.) Convert to Fahrenheit\n2.) Convert to Celsius\nInput: ")
  if x not in ["1", "2"]:
    print("\n\nERROR: You did not enter a proper selection!")
  else: 
    z = int(x)
    Choice = True

1.) Convert to Fahrenheit
2.) Convert to Celsius
Input: 1

In [7]:
if (z == 1):
  while (Calculated != True):
    C_Temp_User = float(input("\n\nPlease enter a temperature (Celsius): "))
    if (isinstance(C_Temp_User, str) == True):
      print("\n\nERROR: You did not enter a proper number!(Example: 32)")
    else:        
      Converted_Temp = float(C_Temp_User * 1.8) + 32
      print("\nTemperature given: {0}\nConverted: {1}".format(C_Temp_User,Converted_Temp))
      Converted_Temp = 0
      Calculated = True
elif z == 2:
  while (Calculated != True):
    F_Temp_User = float(input("\n\nPlease enter a temperature (Fahrenheit): "))
    if (isinstance(F_Temp_User, str) == True):
      print("\n\nERROR: You did not enter a proper number!(Example: 32)")
    else:       
      Converted_Temp = float(F_Temp_User-32)*5/9
      print("\nTemperature given: {0}\nConverted: {1}".format(F_Temp_User,Converted_Temp))
      Converted_Temp = 0
      Calculated = True

Please enter a temperature (Celsius): 0

Temperature given: 0.0
Converted: 32.0


# #Fetching .csv and combining

In [14]:
import os
import pandas as pd

files = []
for f in os.listdir('/Users/admin/Documents/Ironhack_Repos/datamia0619/data/'):
    if f.endswith('.csv'):
        files.append(f)
        
print(files)

['Untitled2.csv', 'Untitled1.csv']

In [15]:
path = os.path.join('/Users/admin/Documents/Ironhack_Repos/datamia0619/data/', files[1])
print(path)

/Users/admin/Documents/Ironhack_Repos/datamia0619/data/Untitled1.csv

In [16]:
datasets = []
for f in files:
    path = os.path.join('/Users/admin/Documents/Ironhack_Repos/datamia0619/data/', f)
    datasets.append(pd.read_csv(path,sep='delimiter', header=None))
data = pd.concat(datasets, axis=0)
data.head()

/usr/local/Cellar/ipython/7.3.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.

                                                   0
0  PK  m��N               xl/drawings/draw...
1               � ��:�\t�IvVΫ�E�@�{ĸ�&�������Mׄ�5
2  �A�
�8!�b��f଩�Q=P���3��6�*��)�HB�<\t8��...
3                        �X'�T�6�4�_��ZUڐ*1�����0
4  �>$�E��CS�
�v*�g�8��6C����XyCM��'����}�]��...

In [21]:
data = pd.read_csv('/Users/admin/Documents/Ironhack_Repos/datamia0619/data/vehicles.csv')

selected_columns = [col for col in data._get_numeric_data() if data[col].mean() > 200]
print(selected_columns)
data.head(2)

['Year', 'CO2 Emission Grams/Mile', 'Fuel Cost/Year']

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550

In [23]:
import statistics
if statistics.mean(data['City MPG']) > 2:
    print("Yes")

Yes

In [25]:
for x in data.columns:
    print(x)

Make
Model
Year
Engine Displacement
Cylinders
Transmission
Drivetrain
Vehicle Class
Fuel Type
Fuel Barrels/Year
City MPG
Highway MPG
Combined MPG
CO2 Emission Grams/Mile
Fuel Cost/Year

## Lambda Functions

In [1]:
# Below is a lambda function that takes a number and returns its square
square = lambda x: x * x

# Here we have a function that returns the same result as the lambda function
def square_function(x):
    return x * x    

#We can also pass multiple arguments to our lambda function.
summarize = lambda a, b: a + b

In [3]:
print(square(5))
print(square_function(5))
print(summarize(5, 6))

25
25
11