# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [42]:
# enter your code here
orders = pd.read_csv("Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [43]:
# your code here
sortedcustomers=orders.groupby(['CustomerID','Country'])['amount_spent'].sum().sort_values(ascending=False).reset_index()
sortedcustomers

      CustomerID         Country  amount_spent
0          14646     Netherlands     280206.02
1          18102  United Kingdom     259657.30
2          17450  United Kingdom     194550.79
3          16446  United Kingdom     168472.50
4          14911            EIRE     143825.06
5          12415       Australia     124914.53
6          14156            EIRE     117379.63
7          17511  United Kingdom      91062.38
8          16029  United Kingdom      81024.84
9          12346  United Kingdom      77183.60
10         16684  United Kingdom      66653.56
11         14096  United Kingdom      65164.79
12         13694  United Kingdom      65039.62
13         15311  United Kingdom      60767.90
14         13089  United Kingdom      58825.83
15         17949  United Kingdom      58510.48
16         15769  United Kingdom      56252.72
17         15061  United Kingdom      54534.14
18         14298  United Kingdom      51527.30
19         14088  United Kingdom      50491.81
20         15749  United Kingdom      44534.30
21         12931  United Kingdom      42055.96
22         17841  United Kingdom      40991.57
23         15098  United Kingdom      39916.50
24         13798  United Kingdom      37153.85
25         16013  United Kingdom      37130.60
26         16422  United Kingdom      34684.40
27         12748  United Kingdom      33719.73
28         15838  United Kingdom      33643.08
29         17404          Sweden      31906.82
...          ...             ...           ...
4317       14589  United Kingdom         39.75
4318       12977  United Kingdom         39.24
4319       16659  United Kingdom         39.12
4320       18019  United Kingdom         38.45
4321       12855  United Kingdom         38.10
4322       16162  United Kingdom         37.40
4323       17816  United Kingdom         36.56
4324       15940  United Kingdom         35.80
4325       14576  United Kingdom         35.40
4326       16856  United Kingdom         35.40
4327       17831  United Kingdom         35.40
4328       15744  United Kingdom         34.80
4329       16765  United Kingdom         34.00
4330       17408  United Kingdom         32.65
4331       13120  United Kingdom         30.60
4332       15657  United Kingdom         30.00
4333       17102  United Kingdom         25.50
4334       18268  United Kingdom         25.50
4335       17986  United Kingdom         20.80
4336       16953  United Kingdom         20.80
4337       16093  United Kingdom         17.00
4338       17763  United Kingdom         15.00
4339       15823  United Kingdom         15.00
4340       13307  United Kingdom         15.00
4341       16878  United Kingdom         13.30
4342       17956  United Kingdom         12.75
4343       16454  United Kingdom          6.90
4344       14792  United Kingdom          6.20
4345       16738  United Kingdom          3.75
4346       13256  United Kingdom          0.00

[4347 rows x 3 columns]

In [44]:
sortedcustomers['amount_spent'].quantile([.95])

0.95    5774.278
Name: amount_spent, dtype: float64

In [45]:
sortedcustomers['amount_spent'].quantile([.75, .95])

0.75    1661.195
0.95    5774.278
Name: amount_spent, dtype: float64

In [46]:
def f(x):
    if x['amount_spent'] >= 5774.27: return "VIP"
    elif x['amount_spent'] >= 1661.19 and x['amount_spent'] < 5774.27: return "Preferred"
    else: return 0

sortedcustomers['status'] = sortedcustomers.apply(f, axis=1)

In [51]:
sortedcustomers.head(5)

   CustomerID         Country  amount_spent status
0       14646     Netherlands     280206.02    VIP
1       18102  United Kingdom     259657.30    VIP
2       17450  United Kingdom     194550.79    VIP
3       16446  United Kingdom     168472.50    VIP
4       14911            EIRE     143825.06    VIP

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [50]:
# your code here
resortedcustomers=sortedcustomers[sortedcustomers.status != 0]
resortedcustomers.groupby(['Country', 'status']).count().sort_values(by='amount_spent', ascending=False)
#UK for both answers

                           CustomerID  amount_spent
Country         status
United Kingdom  Preferred         756           756
                VIP               178           178
Germany         Preferred          28            28
France          Preferred          20            20
Belgium         Preferred          11            11
Germany         VIP                11            11
France          VIP                 9             9
Switzerland     Preferred           6             6
Norway          Preferred           6             6
Spain           Preferred           5             5
Portugal        Preferred           5             5
Italy           Preferred           5             5
Finland         Preferred           4             4
Switzerland     VIP                 3             3
Australia       Preferred           3             3
Channel Islands Preferred           3             3
Israel          Preferred           2             2
Cyprus          Preferred           2             2
Denmark         Preferred           2             2
Japan           Preferred           2             2
                VIP                 2             2
Spain           VIP                 2             2
EIRE            VIP                 2             2
Portugal        VIP                 2             2
Austria         Preferred           1             1
Canada          Preferred           1             1
Sweden          VIP                 1             1
                Preferred           1             1
Channel Islands VIP                 1             1
Singapore       VIP                 1             1
Finland         VIP                 1             1
Poland          Preferred           1             1
Norway          VIP                 1             1
Netherlands     VIP                 1             1
Malta           Preferred           1             1
Lebanon         Preferred           1             1
Australia       VIP                 1             1
Iceland         Preferred           1             1
Greece          Preferred           1             1
Denmark         VIP                 1             1
EIRE            Preferred           1             1
Cyprus          VIP                 1             1